@{
    ViewBag.Title = "添加艺术家新闻";
    Layout = "~/Views/Shared/Staff_Layout.cshtml";
    Page.validateRequest = "false";
}


<div class="col-xs20 col-sm20 col-m20 col-lg20">&nbsp;</div>
<div class="col-xs4 col-sm4 col-md4 col-lg4">&nbsp;</div>

<div class="col-xs12 col-sm12 col-md12 col-lg12">


    <style>
        .layui-upload-drag {
            width: 100%;
            min-height: 12vh;
        }

        .allpadding {
            /* 把原本layui的padding补回去 */
            padding: 10px;
        }

        .icontouxiang {
            height: 10vh;
            width: inherit;
            background: url('../../content/icon/tupian.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .remind {
            padding-top: 1em;
            font-size: .7rem;
            text-align: center;
            color: #484848;
        }

        .layui-input-block {
            margin-left: 0;
        }

        .layui-form-label {
            padding: 9px 1em 0 0;
        }

        .layui-form label,
        .layui-form input {
            font-size: .9rem;
        }

        .layui-form-item {
            margin-bottom: 3%;
        }

        textarea {
            width: 100%;
        }

        ::placeholder {
            font-size: .7rem;
        }

        .editor {
            width: 600px;
            height: 300px;
            border: 1px solid #ccc;
        }

        .output {
            width: 600px;
            height: auto;
            border: 1px solid #ccc;
            margin-top: 10px;
            padding: 10px;
        }

        .ql-blank,
        .ql-editor {
            min-height: 50vh;
        }
    </style>


    <form action="ArtNewsAdd" method="post">

        <div class="col-xs6 col-sm6 col-md6 col-lg6">
            <div class="layui-upload-drag" id="uploadDemo">
                <div class="icontouxiang" id="uploadDemoView">
                    <img src="" style="max-width: 100%">
                </div>
                @* <i class="layui-icon"></i> *@
            </div>
            <p class="remind">新闻封面上传</p>
        </div>

        <div class="col-xs14 col-sm14 col-md14 col-lg14">
            <div class="layui-form-item">
                <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">标题</label>
                <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                    <input type="text" name="Title" required lay-verify="required" placeholder="新闻的主标题"
                        autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">作者ID</label>
                <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18" style="width: 83%;">
                    @if (ViewBag.Artistid == null)
                    {
                        <input type="text" id="ArtistId" name="ArtistId" required lay-verify="required" placeholder="作者ID"
                            autocomplete="off" class="layui-input">
                    }
                    else
                    {
                        <input type="text" id="ArtistId" name="ArtistId" required lay-verify="required" placeholder="作者ID"
                            autocomplete="off" class="layui-input" value="@Model">
                    }
                    <div style="position:absolute;top:0%;right:-10%;text-align:right;">
                        <div class="layui-form-mid layui-word-aux" id="def" style="font-size: .9rem;"> 会员名 </div>
                        <div class="layui-form-mid layui-word-aux" id="login" style="display:none;"><i
                                class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"
                                style="font-size: .9rem; color: #958e71;display: inline-block;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">正文</label>

                <div class="col-xs18 col-sm18 col-md18 col-lg18">
                    @* <div id="editor" name="content"></div> *@

                    <div id="toolbar">

                        <select class="ql-header" style="margin-right: .5%;"></select>

                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline" style="margin-right: .5%;"></button>


                        <select class="ql-align">

                            <option selected></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>

                        </select>

                        <button class="ql-image" style="margin-right: .5%;"></button>


                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                        <button class="ql-clean" style="margin-right: .5%;"></button>

                        <button id="custom-button">'Clicked!'</button>

                    </div>
                    <div id="editor" name="content"></div>
                </div>
            </div>




            @* <button id="alignLeftBtn">左</button>
            <button id="alignCenterBtn">中</button>
            <button id="alignRightBtn">右</button>
            <button id="captionBtn">注</button>
            <button id="uploadBtn">传</button>

            <div class="editor" contenteditable="true"></div>
            <div class="output" name="Content"></div> *@

            <br />
            <div class="col-xs20 col-sm20 col-m20 col-lg20">
                <div class="layui-form-item">
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18"
                        style="text-align: center;margin-top:2vh;">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                    </div>
                </div>
            </div>
    </form>


    <div class="col-xs4 col-sm4 col-md4 col-lg4">&nbsp;</div>

    <script>

        //上传
        var upload = layui.upload; //得到 upload 对象
        upload.render({
            elem: '#uploadDemo'
            , url: '/Staff/TempImgSave/' //改成您自己的上传接口
            , done: function (res) {
                layer.msg('上传成功');
                layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', "/Content/TempFile/" + res.files.file);
                console.log(res)
            }
            , before: function () {
                layer.msg('上传中', { icon: 16, time: 0 });
            }
        });

        $(function () {
            $("#ArtistId").blur(function () {
                var val = $(this).val();
                var def = $("#def");
                var log = $("#login");
                def.hide();
                log.show();

                $.ajax({
                    url: "/Staff/ArtTOF/?id=" + val,
                    type: "post",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        log.hide();
                        if (data.data != null) {
                            def.text(data.data)
                            def.show();

                        } else {
                            def.text("请输入正确的会员ID号!");
                            def.show();
                        }

                    }
                });
            });
        });

        var toolbarOptions = [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            ['bold', 'italic', 'underline',],  // toggled buttons 
            [{ 'align': [] }],
            ['image'],

            [{ 'color': [] }],          // dropdown with defaults from theme
            ['clean']                                         // remove formatting button
        ];

        // 创建Quill编辑器
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: {
                    container: "#toolbar",
                    external: toolbarOptions,
                }
            }
        });

        // 测试一下是否可以通过prompt加入图注
        // Todo: Insert photo port
        var customButton = document.querySelector('#custom-button');
        customButton.addEventListener('click', function () {
            console.log('Clicked!');
        });






    </script>