@model szaipa2022.Models.Staff
@{
    ViewBag.Title = "管理员登录";
    Layout = "~/Views/Shared/Staff_Layout.cshtml";
}

<style>
    .form-control,
    .btn {
        font-size: 1rem;
        height: 2em;
        padding: .5em .5em .5em .5em;
        margin-bottom: .8em;
        line-height: 1em;
    }
</style>
<div class="loginbox">



    <img src="~/Content/123/logo.jpg" class="img-responsive" />



    @using (Html.BeginForm())
    {
        <div style="width:100%;">
            @Html.ValidationSummary(false)
            <div class="form-group" style="width:100%;margin:0 auto;">
                <div style="width:90%;margin:10px auto">
                    @Html.TextBoxFor(m => m.StaffName, new
                        {
                            @class = "form-control",
                            style = "width:100%; ",
                            placeholder =
                             "请输入管理员姓名"
                        })
                    @Html.PasswordFor(m => m.Password, new
                        {
                            @class = "form-control",
                            style = "width:100%;",
                            placeholder =
                             "请输入密码"
                        })
                    <br />
                    <input type="submit" value="登录" class="btn btn-art" style="width:100%;" />
                    <br />
                    <br />
                    <input type="button" value="清空" class="btn btn-default" style="width:100%;" id="btnRegister" />
                </div>
            </div>
        </div>
    }
</div>