@{
    ViewBag.Title = "艺术家首页头图";
    Layout = "~/Views/Shared/Staff_Layout.cshtml";
}

<style>
    .layui-upload-drag {
        width: 100%;
        min-height: 22vh;
    }

    .allpadding {
        /* 把原本layui的padding补回去 */
        padding: 10px;
    }

    .icontouxiang {
        height: 20vh;
        width: inherit;
        background: url('../../content/icon/icontouxiang.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .remind {
        padding-top: 1em;
        font-size: .9rem;
        text-align: center;
        color: #484848;
    }

    .layui-input-block {
        margin-left: 0;
    }

    .layui-form-label {
        padding: 9px 1em 0 0;
    }

    .layui-form label,
    .layui-form input {
        font-size: .9rem;
    }

    #Color1,
    #Color2 {
        width: 20%;
        outline: none;
        border: none;
    }

    .layui-form-item {
        margin-bottom: 3%;
    }

    .layui-form-radio * {
        font-size: .9rem;
    }

    textarea {
        width: 100%;
    }

    input,
    textarea {
        padding: .5em .5em .5em .5em !important;
    }

    .layui-btn {
        font-size: .9rem;
    }

    ::placeholder {
        font-size: .9rem;
    }






    #Color1,
    #Color2 {
        all: inherit;
        width: 20%;
        border: none;
        outline: none;
        box-shadow: none;
        margin: 0;
        height: 3vh;

        position: absolute;
        left: 0;
    }

    #Color2 {
        top: 3.5vh;
    }

    #hexColor1,
    #hexColor2 {
        position: absolute;
        width: 40%;
        height: 3vh;
        left: 21%;
        font-size: .9rem;
    }

    #hexColor1 {
        top: 0;
    }

    #hexColor2 {
        top: 3.5vh;
    }





    #gradient-preview {
        width: 35%;
        height: 6.5vh;

        position: absolute;
        right: 0;
        top: 0;
    }



    #event-container .layui-input {
        display: initial;
    }

    .event-row {
        margin-bottom: 1%;
    }

    .year-input {
        width: 30%;
        margin-right: 2%;
    }

    .event-input {
        width: 67%;
    }

    .add-button,
    .reduce-button {
        all: initial;
        cursor: pointer;
    }

    #event-container .event-row {
        display: flex;
    }

    .shijian {
        display: block;
        outline: none;
        border: 1px solid #ededed;
        width: 68%;
        padding-left: .5em;
        padding-top: .6em;
        min-height: 7em;
        font-size: .9rem;
    }

    .add {
        background-image: url('../../content/icon/tianjia.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2vw;
        height: 2vw;
        display: block;
        position: absolute;
        bottom: 0%;
        right: -2%;
        transform: translatex(100%);
    }

    .reduce {
        background-image: url('../../content/icon/jianshao.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2vw;
        height: 2vw;
        display: block;
        position: absolute;
        bottom: 0%;
        right: -10%;
        transform: translatex(100%);
    }
</style>

<div class="col-xs4 col-sm4 col-md4 col-lg4">&nbsp;</div>

<div class="col-xs12 col-sm12 col-md12 col-lg12">
    <div class="col-xs20 col-sm20 col-md20 col-lg20">&nbsp;</div>

    <div class="col-xs20 col-sm20 col-md20 col-lg20 allpadding">
        <div class="col-xs15 col-sm15 col-md15 col-lg15">
            <form class="layui-form" action="newArtAdd" method="post">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="ID-upload-demo-btn-2">
                        <i class="layui-icon layui-icon-upload"></i> 多图片上传
                    </button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 11px;">
                        预览图：
                        <div class="layui-upload-list" id="upload-demo-preview"></div>
                    </blockquote>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-xs4 col-sm4 col-md4 col-lg4">&nbsp;</div>


<script>
    var upload = layui.upload; //得到 upload 对象
    upload.render({
        elem: '#ID-upload-demo-btn-2',
        url: '/Staff/TempImgSave/', // 实际使用时改成您自己的上传接口即可。
        multiple: true,
        before: function (obj) {
            // 预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
                $('#upload-demo-preview').append('<img src="' + result + '" alt="' + file.name + '" style="width: 90px; height: 90px;">')
            });
        },
        done: function (res) {
            // 上传完毕
            // …
        }
    });


    @* var path1 = "";
        var path2 = "";
        var count = 0;

        upload.render({
        elem: '#ID-upload-demo-btn-2',
        url: '/Staff/TempImgSave/', // 实际使用时改成您自己的上传接口即可。
        multiple: true,
        choose: function (obj) {
        var files = obj.pushFile(); // 获取选择的文件
        count += files.length;

        if (count > 2) {
        // 超过限制数量，进行相应处理，比如提示用户或清空已选择的文件
        // 清空已选择的文件
        obj.resetFile();
        count = 0;
        } else {
        // 限制数量内，进行预览和存储文件名
        obj.preview(function (index, file, result) {
        if (count === 1) {
        // 第一张图片存储到 path1
        path1 = file.name;
        $('#upload-demo-preview').append('<img src="/Content/TempFile/' + path1 + '" alt="' + file.name + '" style="width: 90px; height: 90px;">');
        console.log(obj);

        } else if (count === 2) {
        // 第二张图片存储到 path2
        path2 = file.name;
        $('#upload-demo-preview').append('<img src="/Content/TempFile/' + path2 + '" alt="' + file.name + '" style="width: 90px; height: 90px;">');
        console.log(obj);

        }
        });
        }
        },
        done: function (res) {
        // 上传完毕
        // ...
        // 将 path1 和 path2 的值传递到后台进行保存到数据库的操作
        }
        }); *@
</script>