@{
    ViewBag.Title = "ArtAdd";
    Layout = "~/Views/Shared/Staff_Layout.cshtml";
}

<style>
    .layui-upload-drag {
        width: 100%;
        min-height: 22vh;
    }

    .allpadding {
        /* 把原本layui的padding补回去 */
        padding: 10px;
    }

    .icontouxiang {
        height: 20vh;
        width: inherit;
        background: url('../../content/icon/icontouxiang.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .remind {
        padding-top: 1em;
        font-size: .9rem;
        text-align: center;
        color: #484848;
    }

    .layui-input-block {
        margin-left: 0;
    }

    .layui-form-label {
        padding: 9px 1em 0 0;
    }

    .layui-form label,
    .layui-form input {
        font-size: .9rem;
    }

    #Color1,
    #Color2 {
        width: 20%;
        outline: none;
        border: none;
    }

    .layui-form-item {
        margin-bottom: 3%;
    }

    .layui-form-radio * {
        font-size: .9rem;
    }

    textarea {
        width: 100%;
    }

    input,
    textarea {
        padding: .5em .5em .5em .5em !important;
    }

    .layui-btn {
        font-size: .9rem;
    }

    ::placeholder {
        font-size: .9rem;
    }






    #Color1,
    #Color2 {
        all: inherit;
        width: 20%;
        border: none;
        outline: none;
        box-shadow: none;
        margin: 0;
        height: 3vh;

        position: absolute;
        left: 0;
    }

    #Color2 {
        top: 3.5vh;
    }

    #hexColor1,
    #hexColor2 {
        position: absolute;
        width: 40%;
        height: 3vh;
        left: 21%;
        font-size: .9rem;
    }

    #hexColor1 {
        top: 0;
    }

    #hexColor2 {
        top: 3.5vh;
    }





    #gradient-preview {
        width: 35%;
        height: 6.5vh;

        position: absolute;
        right: 0;
        top: 0;
    }



    #event-container .layui-input {
        display: initial;
    }

    .event-row {
        margin-bottom: 1%;
    }

    .year-input {
        width: 30%;
        margin-right: 2%;
    }

    .event-input {
        width: 67%;
    }

    .add-button,
    .reduce-button {
        all: initial;
        cursor: pointer;
    }

    #event-container .event-row {
        display: flex;
    }

    .shijian {
        display: block;
        outline: none;
        border: 1px solid #ededed;
        width: 68%;
        padding-left: .5em;
        padding-top: .6em;
        min-height: 7em;
        font-size: .9rem;
    }

    .add {
        background-image: url('../../content/icon/tianjia.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2vw;
        height: 2vw;
        display: block;
        position: absolute;
        bottom: 0%;
        right: -2%;
        transform: translatex(100%);
    }

    .reduce {
        background-image: url('../../content/icon/jianshao.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 2vw;
        height: 2vw;
        display: block;
        position: absolute;
        bottom: 0%;
        right: -10%;
        transform: translatex(100%);
    }
</style>

<div class="col-xs4 col-sm4 col-md4 col-lg4">&nbsp;</div>

<div class="col-xs12 col-sm12 col-md12 col-lg12">
    <div class="col-xs20 col-sm20 col-md20 col-lg20">&nbsp;</div>

    <div class="col-xs20 col-sm20 col-md20 col-lg20 allpadding">
        <div class="col-xs5 col-sm5 col-md5 col-lg5">
            <div class="layui-upload-drag" id="uploadDemo">
                <div class="icontouxiang" id="uploadDemoView">
                    <img src="" style="max-width: 100%">
                </div>
                @* <i class="layui-icon"></i> *@
            </div>
            <p class="remind">点击上方上传头像</p>

        </div>
        <div class="col-xs15 col-sm15 col-md15 col-lg15">
            <form class="layui-form" action="newArtAdd" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">中文名</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <input type="text" name="CnName" required lay-verify="required" placeholder="请输入会员中文名字（如果有）"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">英文名</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <input type="text" name="EnName" required lay-verify="required" placeholder="请输入会员英文名字（如果有）"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">国&emsp;家</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <input type="text" name="Nation" required lay-verify="required" placeholder="所在国家"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">城&emsp;市</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <input type="text" name="City" required lay-verify="required" placeholder="常驻城市"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">职&emsp;务</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <input type="text" name="Title" required lay-verify="required" placeholder="例：会员｜艺术家"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">性&emsp;别</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <input type="radio" name="Sex" value="1" title="男" checked>
                        <input type="radio" name="Sex" value="0" title="女">
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 9%;">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">主题色</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18 relative">

                        <!-- Color picker and text input -->
                        <p>
                            <input type="color" id="Color1" value="#3e47e1">
                            <input type="text" name="Color1" id="hexColor1" class="layui-input" value="#3e47e1">
                        </p>
                        <p>
                            <input type="color" id="Color2" value="#151965">
                            <input type="text" name="Color2" id="hexColor2" class="layui-input" value="#151965">
                        </p>
                        <!-- Gradient preview -->
                        <div id="gradient-preview"></div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">简&emsp;介</label>
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <textarea name="UserContent" placeholder="每行最多二十字 请注意换行" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="ID-upload-demo-btn-2">
                        <i class="layui-icon layui-icon-upload"></i> 多图片上传
                    </button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 11px;">
                        预览图：
                        <div class="layui-upload-list" id="upload-demo-preview"></div>
                    </blockquote>
                </div>

                @* <div class="layui-form-item layui-form-text">
                <label class="layui-form-label col-xs2 col-sm2 col-md2 col-lg2">年&emsp;表
                </label>
                <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18" id="event-container">

                <!-- Default Input 1 -->
                <div class="event-row relative">
                <input type="number" name="DeedsYear" required lay-verify="required" placeholder="请输入年份"
                class="layui-input year-input">

                <textarea name="DeedsThings" placeholder="请输入事件，格式：活动名，具体展馆，城市名" class="shijian"></textarea>
                </div>
                <!-- Default Input 2 -->
                <div class="event-row relative">
                <input type="number" name="DeedsYear" required lay-verify="required" placeholder="请输入年份"
                class="layui-input year-input">
                <!-- <input type="text" name="DeedsThings" required lay-verify="required" placeholder="请输入事件"
                class="layui-input event-input"> -->
                <textarea name="DeedsThings" placeholder="请输入事件，格式：活动名，具体展馆，城市名" class="shijian"></textarea>
                </div>

                </div>
                </div> *@

                <div class="layui-form-item">
                    <div class="layui-input-block col-xs18 col-sm18 col-md18 col-lg18">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-xs4 col-sm4 col-md4 col-lg4">&nbsp;</div>


<script>

    var upload = layui.upload; //得到 upload 对象
    upload.render({
        elem: '#uploadDemo'
        , url: '/Staff/TempImgSave/' //改成您自己的上传接口
        , done: function (res) {

            layer.msg('上传成功');
            layui.$('#uploadDemoView').removeClass('icontouxiang').find('img').attr('src', "/Content/TempFile/" + res.files.file);
            console.log(res)
        }
        , before: function () {
            layer.msg('上传中', { icon: 16, time: 0 });
        }
    });


    upload.render({
        elem: '#ID-upload-demo-btn-2',
        url: '/Staff/TempImgSave/', // 实际使用时改成您自己的上传接口即可。
        multiple: true,
        before: function (obj) {
            // 预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
                $('#upload-demo-preview').append('<img src="' + result + '" alt="' + file.name + '" style="width: 90px; height: 90px;">')
                console.log(index);
                console.log(file);
                console.log(result)
            });
        }, done: function (res) {
            console.log(2);
            layer.msg('上传成功');
        }
    });

    // 艺术家首页色值

    function updateGradient() {
        const color1 = $('#color1').val();
        const color2 = $('#color2').val();
        $('#gradient-preview').css('background', `linear-gradient(to bottom, ${color1}, ${color2})`);
    }

    // Initialize gradient
    updateGradient();

    // Event listener for color pickers
    $('#color1, #color2').on('input', function () {
        const hexColorId = `#hex${this.id.charAt(0).toUpperCase() + this.id.slice(1)}`;
        $(hexColorId).val($(this).val());
        updateGradient();
    });

    // Event listener for text inputs
    $('#hexColor1, #hexColor2').on('input', function () {
        const colorId = `#${this.id.slice(3).toLowerCase()}`;
        $(colorId).val($(this).val());
        updateGradient();
    });

    // 年表
    $(function () {
        function addEventRow() {
            const newRow = $('<div class="event-row relative">');
            newRow.append('<input type="number" name="DeedsYear" placeholder="请输入年份" class="layui-input year-input">');
            newRow.append('<textarea name="DeedsThings" placeholder="请输入事件" class="shijian"></textarea>');
            newRow.append('<button class="add-button"><i class="add"></i></button>');
            newRow.append('<button class="reduce-button"><i class="reduce"></i></button>');
            $('#event-container').append(newRow);
        }

        // Initialize first row
        addEventRow();

        $('#event-container').on('click', '.add-button', function () {
            // Remove '+' and '-' buttons from the last row
            $('.event-row:last .add-button').remove();
            $('.event-row:last .reduce-button').remove();
            // Add new row
            addEventRow();
        });

        $('#event-container').on('click', '.reduce-button', function () {
            // Check if more than one row exists
            if ($('.event-row').length > 1) {
                // Remove the last row
                $('.event-row:last').remove();
                // Add '+' and '-' buttons back to the new last row
                $('.event-row:last').append('<button class="add-button"><i class="add"></i></button>');
                $('.event-row:last').append('<button class="reduce-button"><i class="reduce"></i></button>');
            }
        });
    });



</script>