@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>春语第三季——致敬女性艺术展</title>
    <link rel="icon" href="/Content/123/chunyu.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Content/Model/css/responsive.css">
    <link rel="stylesheet" href="/Content/Model/css/Site.css">
    <link rel="stylesheet" href="/Content/Model/css/bootstrap.css">
    <script src="/Content/Model/jquery-3.6.1.min.js"></script>
    <script src="/Content/Model/bootstrap.min.js"></script>

    <!-- 引入Vue3和Element Plus -->
    <script src="/Content/Model/vue.global.js"></script>
    <link rel="stylesheet" href="/Content/Model/css/element-plus.css">
    <script src="/Content/Model/element-plus.js"></script>

    <!-- 引入Swiper.js -->
    <link rel="stylesheet" href="/Content/Model/css/swiper-bundle.min.css">
    <script src="/Content/Model/swiper-bundle.min.js"></script>

    <!-- 引入google font CDN站 2023.08.04 -->
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link href='//fonts.loli.net/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap' rel='stylesheet'
        type='text/css'>
    <link href='//fonts.loli.net/css?family=Noto+Serif+SC:100,300,400,500,700,900&display=swap' rel='stylesheet'
        type='text/css'>

    <!-- 引入有字体 2023.08.04 -->
    <script type="text/javascript" src="//cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }

        /* 以下为footer */
        #section08 {
            /* EMAIL */
            height: 30vh;
            width: 100%;
            background-color: white;
            position: relative;
            margin-top: 5vh;
        }

        #section08m {
            /* EMAIL */
            height: 80vh;
            width: 100%;
            background-color: black;
            color: white;
            position: relative;
            border-top: 1px solid #ededed;
        }

        /* Section08 邮箱填写 */

        .fuzhu {
            width: 100%;
            transform: translateY(25%);
        }

        .dui {
            height: 1em;
            width: 1em;
            display: inline-block;
            background-image: url('/content/images/dui-06.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .enter02 {
            /* 去色 */
            filter: grayscale(100%);

            /* 去button默认样式 */
            box-shadow: none;
            background-color: transparent;
            border: none;

            float: right;
            transform: translateY(-140%);
        }

        .enter02 img {
            width: 1.5vw;
            height: auto;
        }

        .emailPosition h1 {
            text-align: center;
            font-family: var(--fontLight);
        }

        .emailPosition h1 {
            font-size: 2rem;
            letter-spacing: 0.1em;
            margin-bottom: 5vh;
        }

        .emailPosition p {
            text-align: justify;
            color: #939393;
            margin-top: 3vh;
            font-weight: 200;
            font-size: 1.2rem;
            line-height: 1.8em;
        }

        .emailPosition {
            height: auto;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #section08m button {
            display: flex;
            background-color: transparent;
            color: white;
            font-family: var(--fontLight);
            font-size: 1.3rem;
            margin: 5vh auto;
            box-shadow: none;
            border: 1px solid white;
            padding: .5vh 2vw;
        }

        .guanzhu {
            width: 8vw;
            height: auto;
            margin-right: 3vw;
        }

        .logoContainerM {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .email {
            position: relative;
            width: var(--emailLine);
            margin-bottom: 1.3vh;
            border-bottom: 1.5px solid black;
        }

        .emailInput {
            width: var(--emailLine);
            margin-bottom: 0.5vh;
            padding-left: 0.1em;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: var(--email);
            letter-spacing: 0.05em;
        }

        .emailInput::placeholder {
            color: black;
        }

        #section08m .email input::placeholder {
            padding-left: 2vw;
            color: white;
            font-size: 1rem;
            font-family: 'dinLight';
        }

        #section08m .email input {
            margin-bottom: 0px;
        }

        .email input::placeholder {
            color: black;
            font-size: var(--emailHolder);
            font-family: 'dinLight';
        }

        .jieshou {
            line-height: 20px;
            vertical-align: middle;
            white-space: nowrap;
            font-size: var(--jieshou);
            font-family: 'Noto Sans SC', sans-serif;
            font-display: swap;
            font-weight: 400;
        }

        .jieshou span {
            display: inline-block;
            transform: translateY(-8%);
        }

        .emailContainerM {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .emailM {
            background-color: transparent;
            width: 100%;
            height: 2vh;
            font-size: 1.3rem;
            outline: none;
            border: 1px solid white;
            padding: 1em 1em;
        }

        .logoContainerM a {
            margin-bottom: 5vh;
        }

        /* Section09 版权 */

        .section09 {
            /* FOOTER */
            height: 40vh;
            width: 100%;
            background-color: black;
            color: #939393;
            overflow: hidden;
        }

        .section09m {
            /* FOOTER */
            height: 100%;
            width: 100%;
            background-color: black;
            color: #939393;
            overflow: hidden;
        }

        .footer {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 5vh;
        }

        .footerList {
            position: relative;
            border-left: var(--footerBorder);
            height: 100%;
        }

        .copyrightM {
            border-top: 1.5px solid #939393;
            padding: 5vh 0 5vh 0;
            line-height: var(--footerLineheight);
            text-align: center;
            text-decoration: none;
            outline: none;
            font-size: var(--footerFontsize);
        }

        .copyrightM a {
            color: #939393;
            text-decoration: none;
        }

        .copyright {
            position: relative;
            height: 100%;
        }

        .copyright p {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
        }

        .copyright p>br {
            font-size: var(--footerFontsize);
            line-height: 1.5em;
        }

        .copyright-container {
            border-top: var(--footerBorder);
            height: 35vh;
        }

        .copyright-container p {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
        }

        .copyright-container a,
        .copyright-container p {
            color: #939393;
            text-decoration: none;
            /* font-family: 'sansLight';*/
            font-weight: 300;
            font-family: 'Noto Sans SC', sans-serif;
            font-size: 1rem;
            line-height: var(--footerLineheight);
        }
    </style>

    <!-- 以上为共享部分 -->

    <style>
        #topBtn {
            display: block;

            filter: invert();
            padding: 0;
            position: fixed;
            bottom: 5vh;
            right: 4vw;
            z-index: 999;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        /* section01 banner */
        .banner {
            height: 100vh;
            width: 100vw;
            position: relative;
            background: url('/Content/images/chunyu-color2.jpg');
            background-size: cover;
        }

        .banner * {
            color: white;
        }


        .title {
            height: 100px;
            width: auto;
            position: absolute;
            left: 7vw;
            top: 55%;
            color: white;
        }

        .title h1 {
            /* font-family: 'JhengRegular';*/
            font-size: 2.7rem;
            margin-bottom: 0;
        }

        .title h3 {
            /* font-family: 'JhengLight';*/
            letter-spacing: 0.03em;
            margin-top: 2vh;
            margin-bottom: 3vh;
            font-size: 1rem;
        }

        .title button {
            font-size: 1.2rem;
            letter-spacing: 0.2em;
            font-weight: 300;
            font-family: 'Noto Sans SC', sans-serif;
        }

        button {
            background: none;
            border: .2vh solid white;
            color: white;
            border-radius: 10px;
            padding: 1vh 3vw 1vh 3vw;
            margin: 0;
            cursor: pointer;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        a {
            text-decoration: none !important;
        }

        .nav {
            list-style: none;
            display: flex;
            padding: 0 4vw 0 0;

            position: absolute;
            right: 0;
            bottom: 8%;
        }

        .nav li {
            margin-right: 3vw;
            font-size: 1.3rem;
            font-weight: 200;
            font-family: 'Noto Sans SC', sans-serif;
            opacity: 0.7;
        }

        .active {
            opacity: 1 !important;
            font-weight: 400;
            font-family: 'Noto Sans SC', sans-serif !important;
        }

        .black02 {
            height: inherit;
            background-color: black;
            opacity: 0.2;
        }

        /* section02 */
        #section02 {
            position: relative;
            height: auto;
            padding: 0 10vw 10vh 10vw;
        }

        #section02 h1 {
            padding: 0;
            /* font-family: 'JhengBold'; */
            font-size: 3rem;
            margin-bottom: 2vh;
            text-align: center;
        }

        #section02 p {
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
            font-weight: 300;
            font-family: 'Noto Sans SC', sans-serif;
            line-height: 2.7em;
            text-align: justify;
            text-indent: 2em;
        }

        .nameCN {
            margin-top: 3vh;
            text-align: right;
            font-size: 1.3rem;
            font-weight: 400;
            font-family: 'Noto Sans SC', sans-serif;
        }

        .xu {
            /* display: flex;
            justify-content: center;
            align-items: center; */
            position: relative;
            width: 100%;
            height: 15vh;
            margin-top: 10vh;
            margin-bottom: 7vh;
        }

        .tonggou {
            height: 15vh;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }

        .elementPub {
            height: 8vh;
            position: absolute;
            bottom: -20%;
            left: 50%;
            transform: translateX(-50%);
        }

        /* section03 */
        #section03 {
            position: relative;
            color: #f7f7f7;
            background-color: black;
            padding-bottom: 10vh;
        }


        /* section03 目录的介绍以及列表 */

        #content h1 {
            margin-top: 10vh;
            margin-bottom: 8vh;
            padding: 0;
            font-family: 'dinLightI'
                /* 'JhengBold' */
            ;
            font-size: 2.5rem;
        }

        #swiperAndFilter {
            margin-bottom: 3vh;
        }

        .imgFilter {
            margin-bottom: 5vh;
        }

        .mySwiper {
            max-width: 100vw;
        }

        .swiper {
            width: 120%;
            margin-left: -10%;
            margin-right: -10%;
            padding-bottom: 4vh;
        }

        .swiper-slide {
            height: auto;
            max-height: 70vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            margin-bottom: 15vh;
            width: auto;
            height: 75%;
            max-width: 90%;
            object-fit: contain;
            object-position: center;
        }

        .swiper-slide a {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-family: 'smile', 'dinLightI';
            letter-spacing: 0.2em;
            font-size: 2rem;

            height: 100%;
            width: 60%;
            position: absolute;
            bottom: 5%;
            color: white;
            text-decoration: none;
        }


        .swiper-button-next {
            color: white;
            /* padding-right: 5vw; */
            opacity: 0.7;
            height: 100%;
            width: 10%;
            transform: translateY(-50%);
        }

        .swiper-button-prev {
            color: white;
            /* padding-left: 5vw; */
            opacity: 0.7;
            height: 100%;
            width: 10%;
            transform: translateY(-50%);
        }

        .swiper-pagination-bullet {
            background-color: white;
            outline: none;
        }

        /* .link:hover {
            scale: 1.1;
            transition: 500ms;
            transform: translateY(-10%);
        } */


        /* .link {
            border: 0.2vh solid white;


            弃用
            padding: 1vh 5vw;
            border-radius: 10px;
        } */

        .remind {
            height: 10vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 2vh;
            /* font-family: 'JhengLight';*/
            color: #939393;
        }

        /* 交易页面 */
        .introCon {
            padding: var(--introCon);
            color: white;
            background-color: black;
            position: relative;
            height: auto;
            width: 100%;

            /* 清除浮动 */
            /* display: table; */
            /* display:table 使元素像表格一样能够自适应内容 */
            content: "";
            clear: both;
        }

        .introCon,
        .target,
        .displayInfo {
            overflow-x: hidden;
        }

        .target {
            display: none;
            overflow: hidden;
        }

        .displayInfo {
            display: table;
        }

        .introCon input {
            border: 1px solid #f7f7f7;
            padding: 1vh 1vw;
            margin-bottom: 2vh;
            outline: none;
            background: none;
            box-shadow: none;
        }

        .introCon button {
            border-radius: 0;
            box-sizing: border-box;
        }

        .introCon div {
            float: left;
        }

        .introCon p {
            font-size: 3.5rem;
            /* font-family: 'JhengBold';*/
            white-space: pre-line;
            height: auto;
            width: auto;
        }

        .type1 {
            /* type1是横着的 */
            /* max-height: 50vh; */
            max-width: 50vw;
            float: right;
            margin-top: -10vh;
        }

        .type2 {
            /* type2是竖着的 */
            max-width: 40vw;
            max-height: 65vh;
            height: auto;
            float: right;
            margin-top: var(--type2);
        }

        /* type1和type2的横向竖向输入框不等长 */
        .btn1 input,
        .btn1 button {
            width: 25vw;
        }

        .btn2 input,
        .btn2 button {
            width: 35vw;
        }

        .msg {
            /* padding-top: 8vh; */
            padding-bottom: 15vh;
            /* margin-top: 5vh; */
        }

        .msg button {
            cursor: pointer;
        }

        .introCon .msg p {
            font-size: 1rem;
            /* font-family: 'JhengLight';*/
            letter-spacing: 0.1em;
            color: #939393;
            height: auto;
            padding-top: 10vh;
            margin: 0 0 2vh 0;
        }

        .trading {
            height: 6vh;
            position: absolute;
            right: 10%;
            top: 8%;
        }

        .trading-copyright {
            width: 97%;
            position: absolute;
            bottom: 17.5vh;
            color: #939393;
        }

        /* section04 现场照片儿 */
        #section04 {
            background-color: black;
            color: white;
            padding: 5vh 0 10vh 0;
        }

        #section04 h1 {
            margin-bottom: 5vh;
            padding: 0;
            font-family: 'dinLightI'
                /*'JhengBold' */
            ;
            font-size: 2.5rem;
        }

        .mySwiper3 {
            height: 75vh;
            padding-bottom: 0;
        }

        .mySwiper3 .swiper-slide {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
        }

        .mySwiper3 .swiper-slide img {
            /* height: 100%;
            width: auto;
            object-fit: cover;*/
            object-fit: contain;
            object-position: center center;
        }

        .mySwiper2 {
            box-sizing: border-box;
            padding: 0;
            height: 15vh;
            width: 85%;
            margin: 0 auto;
        }

        .mySwiper2 .swiper-slide {
            width: 10vw;
        }

        .mySwiper2 .swiper-slide img {
            margin-bottom: 0;
            width: 100%;
        }

        .mySwiper2 .swiper-slide:not(.swiper-slide-thumb-active) img {
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <button id="topBtn">
        <img src="/Content/icon/toTop.svg" style="height:5vh;width:auto;" alt="">
    </button>

    <section id="section01" class="banner">
        <div class="black02"></div>


        <div class="title">
            <h1 class="JhengRegular">春语第三季——致敬女性艺术展</h1>
            <h3 class="JhengLight">
                <!-- 展览时间2024.3.8 - 4.8 -->
                Sound of Spring 3nd - Salute to the women's art exhibition
            </h3>
            <a href="#content">
                <button>画廊模式</button></a>
        </div>

        <ul class="nav">
            <a href="~/Home/newIndex" target="_blank">
                <li class="nav-item active">首&emsp;页</li>
            </a>
            <a href="#section02">
                <li class="nav-item">序&emsp;章</li>
            </a>

            <a href="#section03">
                <li class="nav-item">参展作品</li>
            </a>
            <a href="#section04">
                <li class="nav-item">现场照片</li>
            </a>
        </ul>
    </section>

    <section id="section02">

        <!-- 序章 -->

        <div>
            <div class="xu">
                <img class="tonggou" src="/content/images/chunyu Alpha.png" />
                <img class="elementPub" src="/content/images/fuzhu-05.png" />
            </div>

            <h1 class="JhengBold">序</h1>

            <p>春雨柳腰过，百鸟随想走。</p>
            <p>那些风，那些事，那些花，那些鸟，与那些人。</p>
            <p>天地之间，从天到地，从地到天，从古到今，那些人一直在寒来暑往的四季流转中见证花开花落，草木葳蕤，花间鸟悦，吟唱生命之歌。</p>
            <p>夏娃还在广阔的田野奔跑，雨水阻断了亚当，亚伯与赛特的围猎，蓝莓的流氓兔只有一双锋利的牙，盯着一根肋骨，其它都扔在荒野中，他隔空对着诺亚说：“你到底去不了巴别塔，尽管你能吹出无比丑陋的阿夫洛斯管。”声音穿越时空，蔡特金隔岸观火，在哥本哈根一声大吼：面包加玫瑰，一起拿来！这年，是1910年3月8日，女性从此自由、平等。
            </p>
            <p>春雨年年有，《春语》却年年新。“致敬女性”！《春语》第三季主阵容以女性艺术家为主，又有关爱女性的男性艺术家加持，所有的作品，以女性为题材，在笔墨勾勒渲染之间，像所有万物生长，唯一不生长的，是她的绝世容颜……
            </p>
            <p>这个“三·八”节，来这里与女性对语。</p>



            <div class="nameCN">
                策展人：张岚芊<br />
                2024年3月8日
            </div>
        </div>

    </section>

    <section id="section03" class="col-xs20 col-sm20 col-md20 col-lg20">

        <!-- 参展目录 -->

        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
        <div class="col-xs16 col-sm16 col-md16 col-lg16">

            <section id="content">
                <h1 class="JhengBold">参展作品目录 <i
                        style="font-style: normal;font-weight: 300;font-family: 'Noto Sans SC', sans-serif;vertical-align: top;font-size: 2rem;">|</i>
                    <span style="font-family: 'dinLightI';!important">CATALOG</span>
                </h1>

                <!-- filter的格式错误问题暂时解决不了，或许考虑删除filter -->

                <ul class="filterCon">
                    <li class="filter bold" data-filter="all">所有</li>
                    @* <li class="filter" data-filter="oilPainting">纸本水墨</li>
                    <li class="filter" data-filter="oilPainting">布面油画</li>
                    <li class="filter" data-filter="combine">综合材料</li>
                    <li class="filter" data-filter="other">其他</li> *@
                </ul>

                <style>
                    .filter {
                        font-weight: 300;
                        font-family: 'Noto Sans SC', sans-serif;
                    }

                    .filterCon {
                        list-style: none;
                        display: flex;
                        padding: 0;
                        margin-bottom: 3vh;
                    }

                    .filterCon li {
                        margin-right: 2vw;
                    }

                    .hidden {
                        display: none;
                    }

                    .bold {
                        font-weight: 700;
                        font-family: 'Noto Sans SC', sans-serif;
                    }
                </style>

                <script>

                    // $(function () {
                    //     $('.filter').click(function () {
                    //         const value = $(this).attr('data-filter');
                    //         if (value == 'all') {
                    //             $('.filterBox').show('1000');
                    //         }
                    //         else {
                    //             $('.filterBox').not('.' + value).hide('1000');
                    //             $('.filterBox').filter('.' + value).show('1000');
                    //         }
                    //     })
                    // })

                    $(function () {
                        $('.filter').click(function () {
                            const value = $(this).attr('data-filter');
                            if (value == 'all') {
                                $('.filterBox').removeClass('hidden');
                            }
                            else {
                                $('.filterBox').not('.' + value).addClass('hidden');
                                $('.filterBox').filter('.' + value).removeClass('hidden');
                            }

                            // 切换 .bold 类名
                            const $currentItem = $(this);
                            const $prevItem = $('.filter.bold');
                            if (!$currentItem.hasClass('bold')) {
                                $currentItem.addClass('bold');
                                $prevItem.removeClass('bold');
                            }
                        });
                    });


                </script>



                <div class="swiper mySwiper">
                    <div class="swiper-wrapper mob">
                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/305×193cm--花季雨季12.jpg" />

                            <a href="#num00" class="link">花季雨季12</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/305.5×193.5cm--花季雨季11.jpg" />

                            <a href="#num01" class="link">花季雨季11</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/美丽家园-100x120cm-丙烯.jpg" />

                            <a href="#num02" class="link">美丽家园</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/溪深鱼肥-100x120cm-丙烯.jpg" />

                            <a href="#num03" class="link">溪深鱼肥</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦与海-60X60cm-布面油画.jpg" />

                            <a href="#num04" class="link">梦与海</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《痕迹2》120x120cm 油画布 2024.jpg" />

                            <a href="#num05" class="link">痕迹2</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《HER》作品系列-余天.jpg" />

                            <a href="#num06" class="link">《HER》作品系列</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《四方食事》之餐盘系列-30x30cm.jpg" />

                            <a href="#num07" class="link">《四方食事》之餐盘系列</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《幻相》 布面综合材料50x50cm-2024年.jpg" />

                            <a href="#num08" class="link">幻相</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《繁花之一》-纸本丙烯-38x53cm.jpg" />

                            <a href="#num09" class="link">繁花之一</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《繁花之二》-纸本丙烯-38x53cm.jpg" />

                            <a href="#num10" class="link">繁花之二</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《绯色》布面综合材料-2024年 35x28cm.jpg" />

                            <a href="#num11" class="link">绯色</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《花开》-100-100-油画布-2023.jpg" />

                            <a href="#num12" class="link">花开</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《迷幻》 布面综合材料60x80cm-2024年.jpg" />

                            <a href="#num13" class="link">迷幻</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《重叠之相》布面综合材料-2024年 35x28cm.jpg" />

                            <a href="#num14" class="link">重叠之相</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《重叠之相》布面综合材料-2024年 60x50cm.jpg" />

                            <a href="#num15" class="link">重叠之相</a>
                        </div>



                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《雪白与血红》布面综合材料-20x35cm-2024年.jpg" />

                            <a href="#num17" class="link">雪白与血红</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/《雪白与血红》布面综合材料-90x45cm-2023年.jpg" />

                            <a href="#num18" class="link">雪白与血红</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/告白-65X80-布面油画-2021.jpg" />

                            <a href="#num19" class="link">告白</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/坠入花海-80x80cm-油画.jpg" />

                            <a href="#num20" class="link">坠入花海</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/夜鱼龙舞-80x80cm-油画.jpg" />

                            <a href="#num21" class="link">夜鱼龙舞</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/天马行空-30x30cm-综合材料.jpg" />

                            <a href="#num22" class="link">天马行空</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/无题-44x54cm-纸本水彩.jpg" />

                            <a href="#num23" class="link">无题</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/春江水暖鸭先知-其一-240x55cm.jpg" />

                            <a href="#num24" class="link">春江水暖鸭先知 其一</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/春江水暖鸭先知-其二-240x55cm.jpg" />

                            <a href="#num25" class="link">春江水暖鸭先知 其二</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦中的安塔利亚系列之三十三·-星球史诗-80x107cm-中国漳州.jpg" />

                            <a href="#num26" class="link">梦中的安塔利亚系列之三十三·星球史诗</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦中的安塔利亚系列之六·大海的乐章-100x135cm-中国漳州.jpg" />

                            <a href="#num27" class="link">梦中的安塔利亚系列之六·大海的乐章</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦中的安塔利亚系列之十·恒的孤独-80x120cm-中国漳州.jpg" />

                            <a href="#num28" class="link">梦中的安塔利亚系列之十·恒的孤独</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦中的安塔利亚系列之十六·心灵图象-80x107cm-中国漳州.jpg" />

                            <a href="#num29" class="link">梦中的安塔利亚系列之十六·心灵图象</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦中的安塔利亚系列之四十二隐藏在弧形风景下的奥秘-80x107cm-中国漳州.jpg" />

                            <a href="#num30" class="link">梦中的安塔利亚系列之四十二·隐藏在弧形风景下的奥秘</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/梦中的安塔利亚系列之四十手执火焰之矛的堂吉河德骑士-80x107cm-中国漳州.jpg" />

                            <a href="#num31" class="link">梦中的安塔利亚系列之四十·手执火焰之矛的堂吉河德骑士</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/煌-70x100cm-2023.jpg" />

                            <a href="#num32" class="link">煌</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/猎语机械芯.jpg" />

                            <a href="#num33" class="link">猎语机械芯</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/百款玫瑰-数字版画-2024.jpg" />

                            <a href="#num34" class="link">百款玫瑰</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/百魅女人-数字版画-2024.jpg" />

                            <a href="#num35" class="link">百魅女人</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/等待-65X80-布面油画-2019.jpg" />

                            <a href="#num36" class="link">等待</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/脊-装置-110x65x55cm.jpg" />

                            <a href="#num37" class="link">脊</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/色彩狂想曲-100x100cm-布面油画-丙烯-II.jpg" />

                            <a href="#num38" class="link">色彩狂想曲II</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/色彩狂想曲-100x100cm-布面油画-丙烯.jpg" />

                            <a href="#num39" class="link">色彩狂想曲</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/行动的前奏-60X60cm-布面油画.jpg" />

                            <a href="#num40" class="link">行动的前奏</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/随园食单-其一-200x200cm.jpg" />

                            <a href="#num41" class="link">随园食单 其一</a>
                        </div>

                        <div class="swiper-slide filterBox oilPainting">
                            <img src="/Content/images/chunyu3/道-70x100cm-2023.jpg" />

                            <a href="#num42" class="link">道</a>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <p class="remind JhengLight">
                    (点击作品名查看更多)</p>
            </section>
        </div>

        <!-- type1(横) -->

        <div class="introCon target" id="num00">
            <p class="JhengBold">花季雨季12
                张岚芊
                305x193cm
                综合材料
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/305×193cm--花季雨季12.jpg" target="_blank">
                <img src="/content/images/chunyu3/305×193cm--花季雨季12.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>




        <div class="introCon target" id="num01">
            <p class="JhengBold">花季雨季11
                张岚芊
                305.5x193.5cm
                综合材料
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/305.5×193.5cm--花季雨季11.jpg" target="_blank">
                <img src="/content/images/chunyu3/305.5×193.5cm--花季雨季11.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>



        <div class="introCon target" id="num06">
            <p class="JhengBold">《HER》作品系列
                余天
                摄影作品
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《HER》作品系列-余天.jpg" target="_blank">
                <img src="/content/images/chunyu3/《HER》作品系列-余天.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>


        <div class="introCon target" id="num07">
            <p class="JhengBold">《四方食事》之餐盘系列
                聂萍
                30x30cm/个
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《四方食事》之餐盘系列-30x30cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/《四方食事》之餐盘系列-30x30cm.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num09">
            <p class="JhengBold">繁花之一
                王玉波
                38x53cm
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《繁花之一》-纸本丙烯-38x53cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/《繁花之一》-纸本丙烯-38x53cm.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num10">
            <p class="JhengBold">繁花之二
                王玉波
                38x53cm
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《繁花之二》-纸本丙烯-38x53cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/《繁花之二》-纸本丙烯-38x53cm.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num13">
            <p class="JhengBold">迷幻
                乙妍
                60x80cm
                油画布
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《迷幻》 布面综合材料60x80cm-2024年.jpg" target="_blank">
                <img src="/content/images/chunyu3/《迷幻》 布面综合材料60x80cm-2024年.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num17">
            <p class="JhengBold">雪白与血红
                乙妍
                20x35cm
                布面综合材料
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《雪白与血红》布面综合材料-20x35cm-2024年.jpg" target="_blank">
                <img src="/content/images/chunyu3/《雪白与血红》布面综合材料-20x35cm-2024年.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num18">
            <p class="JhengBold">雪白与血红
                乙妍
                90x45cm
                布面综合材料
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《雪白与血红》布面综合材料-90x45cm-2023年.jpg" target="_blank">
                <img src="/content/images/chunyu3/《雪白与血红》布面综合材料-90x45cm-2023年.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num23">
            <p class="JhengBold">无题
                鸥洋
                44x54cm
                纸本水彩
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/无题-44x54cm-纸本水彩.jpg" target="_blank">
                <img src="/content/images/chunyu3/无题-44x54cm-纸本水彩.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num24">
            <p class="JhengBold">春江水暖鸭先知 其一
                刘煜
                240x55cm
                水墨
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/春江水暖鸭先知-其一-240x55cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/春江水暖鸭先知-其一-240x55cm.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num25">
            <p class="JhengBold">春江水暖鸭先知 其二
                刘煜
                240x55cm
                水墨
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/春江水暖鸭先知-其二-240x55cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/春江水暖鸭先知-其二-240x55cm.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num26">
            <p class="JhengBold">梦中的安塔利亚系列之三十三
                星球史诗
                楚雨
                80x107cm
                摄影
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦中的安塔利亚系列之三十三·-星球史诗-80x107cm-中国漳州.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦中的安塔利亚系列之三十三·-星球史诗-80x107cm-中国漳州.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num27">
            <p class="JhengBold">梦中的安塔利亚系列之六
                大海的乐章
                楚雨
                100x135cm
                摄影
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦中的安塔利亚系列之六·大海的乐章-100x135cm-中国漳州.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦中的安塔利亚系列之六·大海的乐章-100x135cm-中国漳州.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num29">
            <p class="JhengBold">梦中的安塔利亚系列之十六
                心灵图象
                楚雨
                80x107cm
                摄影
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦中的安塔利亚系列之十六·心灵图象-80x107cm-中国漳州.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦中的安塔利亚系列之十六·心灵图象-80x107cm-中国漳州.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num32">
            <p class="JhengBold">煌
                黄蕾
                70x100cm
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/煌-70x100cm-2023.jpg" target="_blank">
                <img src="/content/images/chunyu3/煌-70x100cm-2023.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num33">
            <p class="JhengBold">猎语机械芯
                红图文化
                尺寸可变
                数字版画
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/猎语机械芯.jpg" target="_blank">
                <img src="/content/images/chunyu3/猎语机械芯.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num34">
            <p class="JhengBold">百款玫瑰
                曾风
                尺寸可变
                数字版画
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/百款玫瑰-数字版画-2024.jpg" target="_blank">
                <img src="/content/images/chunyu3/百款玫瑰-数字版画-2024.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num35">
            <p class="JhengBold">百魅女人
                曾风
                尺寸可变
                数字版画
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/百魅女人-数字版画-2024.jpg" target="_blank">
                <img src="/content/images/chunyu3/百魅女人-数字版画-2024.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num42">
            <p class="JhengBold">道
                黄蕾
                70x100cm
            </p>
            <div class="msg btn1">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/道-70x100cm-2023.jpg" target="_blank">
                <img src="/content/images/chunyu3/道-70x100cm-2023.jpg" class="type1" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>





        <!-- type2（竖） -->

        <div class="introCon target" id="num02">

            <p class="JhengBold">美丽家园
                李苑
                100x120cm
                丙烯
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/美丽家园-100x120cm-丙烯.jpg" target="_blank">
                <img src="/content/images/chunyu3/美丽家园-100x120cm-丙烯.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num03">

            <p class="JhengBold">溪深鱼肥
                李苑
                100x120cm
                丙烯
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/溪深鱼肥-100x120cm-丙烯.jpg" target="_blank">
                <img src="/content/images/chunyu3/溪深鱼肥-100x120cm-丙烯.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num04">

            <p class="JhengBold">梦与海
                乙妍
                60x60cm
                布面油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦与海-60X60cm-布面油画.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦与海-60X60cm-布面油画.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>


        <div class="introCon target" id="num05">

            <p class="JhengBold">痕迹2
                王华
                120x120cm
                油画布
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《痕迹2》120x120cm 油画布 2024.jpg" target="_blank">
                <img src="/content/images/chunyu3/《痕迹2》120x120cm 油画布 2024.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>


        <div class="introCon target" id="num08">

            <p class="JhengBold">幻相
                乙妍
                50x50cm
                布面综合材料
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《幻相》 布面综合材料50x50cm-2024年.jpg" target="_blank">
                <img src="/content/images/chunyu3/《幻相》 布面综合材料50x50cm-2024年.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num11">

            <p class="JhengBold">绯色
                乙妍
                35x28cm
                布面综合材料
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《绯色》布面综合材料-2024年 35x28cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/《绯色》布面综合材料-2024年 35x28cm.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>


        <div class="introCon target" id="num12">

            <p class="JhengBold">花开
                王华
                100x100cm
                油画布
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《花开》-100-100-油画布-2023.jpg" target="_blank">
                <img src="/content/images/chunyu3/《花开》-100-100-油画布-2023.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num14">

            <p class="JhengBold">重叠之相
                乙妍
                35x28cm
                布面综合材料
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《重叠之相》布面综合材料-2024年 35x28cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/《重叠之相》布面综合材料-2024年 35x28cm.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num15">

            <p class="JhengBold">重叠之相
                乙妍
                60x50cm
                布面综合材料
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/《重叠之相》布面综合材料-2024年 60x50cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/《重叠之相》布面综合材料-2024年 60x50cm.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num19">

            <p class="JhengBold">告白
                张瑛
                65x80cm
                布面油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/告白-65X80-布面油画-2021.jpg" target="_blank">
                <img src="/content/images/chunyu3/告白-65X80-布面油画-2021.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num20">

            <p class="JhengBold">坠入花海
                陈晓英
                80x80cm
                油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/坠入花海-80x80cm-油画.jpg" target="_blank">
                <img src="/content/images/chunyu3/坠入花海-80x80cm-油画.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num21">

            <p class="JhengBold">夜鱼龙舞
                陈晓英
                80x80cm
                油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/夜鱼龙舞-80x80cm-油画.jpg" target="_blank">
                <img src="/content/images/chunyu3/夜鱼龙舞-80x80cm-油画.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num22">

            <p class="JhengBold">天马行空
                徐赓良
                30x30cm
                综合材料
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/天马行空-30x30cm-综合材料.jpg" target="_blank">
                <img src="/content/images/chunyu3/天马行空-30x30cm-综合材料.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num28">

            <p class="JhengBold">梦中的安塔利亚系列之十
                恒的孤独
                楚雨
                80x120cm
                摄影
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦中的安塔利亚系列之十·恒的孤独-80x120cm-中国漳州.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦中的安塔利亚系列之十·恒的孤独-80x120cm-中国漳州.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num30">

            <p class="JhengBold">梦中的安塔利亚系列之四十二
                隐藏在弧形风景下的奥秘
                楚雨
                80x107cm
                摄影
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦中的安塔利亚系列之四十二隐藏在弧形风景下的奥秘-80x107cm-中国漳州.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦中的安塔利亚系列之四十二隐藏在弧形风景下的奥秘-80x107cm-中国漳州.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num31">

            <p class="JhengBold">梦中的安塔利亚系列之四十
                手执火焰之矛的堂吉河德骑士
                楚雨
                80x107cm
                摄影
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/梦中的安塔利亚系列之四十手执火焰之矛的堂吉河德骑士-80x107cm-中国漳州.jpg" target="_blank">
                <img src="/content/images/chunyu3/梦中的安塔利亚系列之四十手执火焰之矛的堂吉河德骑士-80x107cm-中国漳州.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num36">

            <p class="JhengBold">等待
                张瑛
                65x80cm
                布面油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/等待-65X80-布面油画-2019.jpg" target="_blank">
                <img src="/content/images/chunyu3/等待-65X80-布面油画-2019.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num37">

            <p class="JhengBold">脊
                何娟
                110x65x55cm
                装置
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/脊-装置-110x65x55cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/脊-装置-110x65x55cm.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num38">

            <p class="JhengBold">色彩狂想曲II
                何婷
                100x100cm
                布面油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/色彩狂想曲-100x100cm-布面油画-丙烯-II.jpg" target="_blank">
                <img src="/content/images/chunyu3/色彩狂想曲-100x100cm-布面油画-丙烯-II.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num39">

            <p class="JhengBold">色彩狂想曲I
                何婷
                100x100cm
                布面油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/色彩狂想曲-100x100cm-布面油画-丙烯.jpg" target="_blank">
                <img src="/content/images/chunyu3/色彩狂想曲-100x100cm-布面油画-丙烯.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num40">

            <p class="JhengBold">行动的前奏
                乙妍
                60x60cm
                布面油画
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/行动的前奏-60X60cm-布面油画.jpg" target="_blank">
                <img src="/content/images/chunyu3/行动的前奏-60X60cm-布面油画.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>

        <div class="introCon target" id="num41">

            <p class="JhengBold">随园食单-其一
                聂萍
                200x200cm
                水墨
            </p>
            <div class="msg btn2">
                <p class="JhengLight">
                    扫描下方微信二维码<br />咨询该作品是否出售：</p>
                <img src="/content/images/qrcode.png" style="width: 55%;" />


            </div>

            <a href="/content/images/chunyu3/随园食单-其一-200x200cm.jpg" target="_blank">
                <img src="/content/images/chunyu3/随园食单-其一-200x200cm.jpg" class="type2" /></a>

            <!-- 固定元素 -->
            <img src="/content/images/trading-chunyu.png" class="xs-hide sm-hide trading">

            <div class="trading-copyright">
                Copyright © 2024 SZAIPA. All Rights Reserved.
            </div>
        </div>





        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
    </section>




    <section id="section04" class="col-xs20 col-sm20 col-md20 col-lg20">
        <!-- 现场照片 -->

        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
        <div class="col-xs16 col-sm16 col-md16 col-lg16">
            <h1 class="JhengBold">现场照片 <i
                    style="font-style: normal;font-weight: 300;font-family: 'Noto Sans SC', sans-serif;vertical-align: top;font-size: 2rem;">|</i>
                <span style="font-family: 'dinLightI';!important">GALLERY</span>
            </h1>

            <!-- Swiper02 -->

            <section>
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10004.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10002.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10003.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10001.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10005.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10006.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10007.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10008.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10009.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100010.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100011.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100012.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100013.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100014.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100015.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100016.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100017.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100018.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100019.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100020.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100021.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100022.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100023.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100024.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100025.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100026.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100027.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100028.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100029.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100030.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100031.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100032.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100033.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100034.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100035.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100036.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100037.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100038.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100039.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100040.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100041.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100042.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100043.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100044.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100045.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100046.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next xs-hide sm-hide"></div>
                    <div class="swiper-button-prev xs-hide sm-hide"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10004.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10002.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10003.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10001.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10005.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10006.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10007.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10008.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/10009.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100010.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100011.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100012.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100013.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100014.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100015.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100016.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100017.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100018.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100019.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100020.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100021.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100022.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100023.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100024.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100025.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100026.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100027.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100028.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100029.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100030.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100031.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100032.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100033.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100034.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100035.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100036.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100037.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100038.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100039.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100040.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100041.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100042.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100043.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100044.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100045.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/Content/images/chunyu3/100046.jpg" />
                        </div>
                    </div>
                </div>
            </section>


        </div>

        <div class=" col-xs2 col-sm2 col-md2 col-lg2">&nbsp;
        </div>
    </section>




    <script>
        // toTopBtn
        const toTopButton = document.querySelector('#topBtn');
        const section01 = document.querySelector('#section01');

        window.addEventListener('scroll', function () {
            // 获取当前滚动位置
            const scrollPosition = window.scrollY;

            // 判断是否在 section01 区域内
            if (scrollPosition >= section01.offsetTop && scrollPosition < section01.offsetTop + section01.offsetHeight) {
                toTopButton.style.display = 'none';
            } else {
                toTopButton.style.display = 'block';
            }
        });

        toTopButton.addEventListener('click', function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // 添加这个属性可以平滑地滚动到顶部
            });
        });


        // 导航点击加粗
        $(function () {
            $(".nav-item").click(function () {
                $(".nav-item").removeClass("active");
                $(this).addClass("active");
            });
        });

        // section01的go gray
        // $(function () {
        //     var section01Height = $('#section01').height();
        //     var maxScrollTop = $(document).height() - $(window).height();
        //     $(window).scroll(function () {
        //         var currentScrollTop = $(this).scrollTop();
        //         var scrollPercent = (currentScrollTop / (maxScrollTop - section01Height)) * 130;
        //         var grayPercent = Math.max(0, Math.min(100, scrollPercent));
        //         var alpha = Math.max(0, Math.min(1, scrollPercent / 500));
        //         // var scrollPercent = (currentScrollTop / (maxScrollTop - section01Height)) * 900;
        //         // var alpha = Math.max(0, Math.min(1, scrollPercent / 900));
        //         $('#section01').css('filter', 'grayscale(' + grayPercent + '%) brightness(' + (1 - alpha) + ')');
        //     });
        // });


        // sectino03的swiper，coverflow+rotateEffect
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            // 设置初始显示的幻灯片索引为0
            initialSlide: 0,
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            loop: true,
            // 启用懒加载
            lazy: true,
            // preloadImages: false, // 禁用预加载
            // updateOnImagesReady: true, // 等待所有图片加载完成后更新swiper
            coverflowEffect: {
                rotate: 20,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            keyboard: {
                enabled: true,
                onlyInViewport: true,
            },
            on: {
                //扩大点击范围
                click: function (e) {
                    // 获取被点击的slide的索引
                    var clickedIndex = e.clickedIndex;
                    // 切换到被点击的slide
                    this.slideTo(clickedIndex);
                }
            },
        });

        // section03显示Info

        // 获取所有链接
        var links = document.querySelectorAll('.link');

        // 遍历链接，并为每个链接添加事件监听器
        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', function (event) {
                // 阻止链接的默认行为
                event.preventDefault();

                // 获取目标元素
                var target = document.querySelector(this.getAttribute('href'));

                // 移除所有目标元素的 'show' 类
                var targets = document.querySelectorAll('.target');
                for (var j = 0; j < targets.length; j++) {
                    targets[j].classList.remove('displayInfo');
                }

                // 添加 'show' 类到目标元素
                target.classList.add('displayInfo');

                // 将页面滚动到目标元素的位置
                target.scrollIntoView({
                    behavior: 'smooth'
                });
            });
        }


        // section04的双swiper,02是子，03是父

        var swiper2 = new Swiper(".mySwiper2", {
            loop: true,
            grabCursor: true,
            spaceBetween: 3,
            slidesPerView: 7,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var swiper3 = new Swiper(".mySwiper3", {
            loop: true,
            spaceBetween: 0,
            grabCursor: true,
            // slidesPerView: 0,
            // 启用懒加载
            lazy: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper2,
            },
            keyboard: {
                enabled: true,
                onlyInViewport: true,
            },
        });

    </script>

    <!-- 以下为共享部分 -->





    <section id="section08m" class="md-hide lg-hide col-xs20 col-sm20">
        <div class="emailContainerM">
            <div class="emailPosition">

                <h1>深圳市艺术产业新闻邮件</h1>


                <input class="emailM" type="email" placeholder="EMAIL">
                <button type="submit">订&#12288;阅</button>

                <p>订阅深圳市艺术产业新闻邮件，即时获取深圳艺术相关展讯以及艺术品背后的故事。
                    <br />
                    一旦注册深圳市艺术产业促进会新闻邮件，即表示您已充分理解并同意本政策。
                </p>
            </div>
            <div class="logoContainerM">
                <a href="Javascript:;;">
                    <img src="/Content/icon/wechat.svg" class="guanzhu" alt=""></a>
                <a href="Javascript:;;">
                    <img src="/Content/icon/douyin.svg" class="guanzhu" alt=""></a>
            </div>

        </div>
    </section>

    <!-- FOOTER - PC -->

    <footer class="section09 xs-hide sm-hide col-md20 col-lg20">
        <div class="footer">
            <div class="copyright-container">
                <div class="col-md2 col-lg2">&nbsp;</div>
                <div class="col-md7 col-lg7 copyright">
                    <p>
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030402004889">
                            粤公网安备 44030402004889号 </a>｜ <a href="https://beian.miit.gov.cn/">粤ICP备2021095230号</a><br />
                        办公地点：广东省深圳市罗湖区IBC环球商务中心B座36层<br />合作邮箱：industry@szaipa.com <br />
                        Copyright © 2024 SZAIPA. All Rights Reserved. <br />
                        深圳市艺术产业促进会
                    </p>
                </div>
                <div class="col-md3 col-lg3 footerList">
                    <p style="padding-left: 10%;">
                        <a href="~/home/newnews"> 新闻动态</a><br />
                        <a href="~/publication/index"> 展会动态</a><br />
                        &#12288;<br />
                        &#12288;<br />
                        &#12288;
                    </p>

                </div>
                <div class="col-md3 col-lg3 footerList">
                    <p style="padding-left: 10%;">
                        <a href="~/home/newabout">合作案例 </a><br />
                        <a href="~/Home/vip" target="_blank" `>艺术家首页</a><br />
                        &#12288;<br />
                        &#12288;<br />
                        &#12288;
                    </p>
                </div>
                <div class="col-md3 col-lg3 footerList">
                    <p style="padding-left: 10%;">
                        <a href="~/home/link">联系我们</a><br />
                        <a href="@Url.Action("Index", "Home", new { fromLink = true })">旧版首页</a>
                        <a href="~/Staff/Index">后台登陆</a><br />
                        &#12288;<br />
                        &#12288;<br />
                        &#12288;
                    </p>
                </div>

                <div class="col-md2 col-lg2">&nbsp;</div>
            </div>
        </div>
    </footer>

    <footer class="section09m md-hide lg-hide copyrightM">

        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030402004889">
            粤公网安备 44030402004889号 </a>｜ <a href="https://beian.miit.gov.cn/">粤ICP备2021095230号</a><br />
        办公地点：广东省深圳市罗湖区IBC环球商务中心B座36层<br />合作邮箱：industry@szaipa.com <br />
        Copyright © 2024 SZAIPA. All Rights Reserved. <br />
        深圳市艺术产业促进会<br />
        <br />
        <a href="~/Staff/Index">后台登陆</a>

    </footer>


    <script type="text/javascript">
        $webfont.load(".JhengLight", "06160355f36d4c6eb1fab55d87e32063", "Alibaba-PuHuiTi-L");
        $webfont.load(".JhengRegular", "b548e9e03fa64c0b81a0702c4ac5c8c5", "Alibaba-PuHuiTi-R");
        $webfont.load(".JhengBold", "4424d76bbef84a768011752cfd843c1d", "Alibaba-PuHuiTi-M");
        /*$webfont.load("#id1,.class1,h1", "06160355f36d4c6eb1fab55d87e32063", "Alibaba-PuHuiTi-L");*/
        /*．．．*/
        $webfont.draw();
    </script>
</body>


</html>