@{
    ViewBag.Title = "同构——当代艺术作品邀请展";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<style>
    .titlePub {
        height: 100px;
        width: auto;
        text-align: left;
        padding-top: 23vh;
        color: black;
    }

    .titlePub h1 {
        font-family: 'JhengRegular';
        font-size: 2.7rem;
        margin-bottom: 0;
    }

    .titlePub h3 {
        font-family: 'JhengLight';
        letter-spacing: 0.03em;
        margin-top: 2vh;
        margin-bottom: 28%;
        font-size: 1rem;
        line-height: 2em;
    }

    .titlePub a {
        color: black;
        font-size: 1.5rem;
        font-family: 'JhengLight';
    }

    a {
        text-decoration: none !important;
    }


    /* Swiper */

    .swiper-slide {
        height: auto;
        max-height: 70vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        /* margin-bottom: 15vh; */
        width: auto;
        height: 75%;
        max-width: 90%;
        object-fit: contain;
        object-position: center center;
    }

    .swiper-slide a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'smile', 'dinLightI';
        letter-spacing: 0.2em;
        font-size: 2rem;
        height: 100%;
        width: 60%;
        position: absolute;
        bottom: 5%;
        color: white;
        text-decoration: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        height: 100%;
        width: 4vw;
        top: 50%;
        transform: translateY(-45%);
        outline: none;
    }

    .mySwiper3 {
        height: 50vh;
        width: 115%;
        padding-bottom: 0;
    }

    .mySwiper3 .swiper-slide {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .mySwiper3 .swiper-slide img {
        height: auto;
        width: 85%;
        object-fit: cover;
        object-position: center center;
    }

    .mySwiper2 {
        box-sizing: border-box;
        padding: 0;
        height: 15vh;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        transform: translateX(13%);
    }

    .mySwiper2 .swiper-slide {
        width: 10vw;
    }

    .mySwiper2 .swiper-slide img {
        margin-bottom: 0;
        width: 100%;
    }

    .mySwiper2 .swiper-slide:not(.swiper-slide-thumb-active) img {
        opacity: 0.5;
    }

    .imgCon_Pub {
        padding-top: 10vh;
        transform: translateX(-10%);
    }
</style>

<section id="section01" style="height: var(--pubSonHeight);">
    <div class="col-xs2 col-sm2 col-md1 col-lg1">&nbsp;</div>
    <div class="col-xs17 col-sm17 col-md7 col-lg7">
        <div class="titlePub">
            <h1>同构——当代艺术作品邀请展</h1>
            <h3>
                <!-- 展览时间2021.9.24- -->
                "isomorphism" Contemporary Art Exhibition of China
                <br />
                结束时间：2021.02.26
            </h3>

            <a class="xs-hide sm-hide" href="javascript:history.back()">
                < 返回 </a>
        </div>
    </div>
    <div class="col-xs1 col-sm1 col-md1 col-lg1">&nbsp;</div>

    <div class="col-xs20 col-sm20">
        <div class="col-xs2 col-sm2 md-hide lg-hide">&nbsp;</div>
        <div class="col-xs16 col-sm16 col-md10 col-lg10 imgCon_Pub imgCon_PubMobCon">
            <div style=" --swiper-pagination-color: #fff" class="swiper mySwiper3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10001.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10002.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10003.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10004.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10005.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10006.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10007.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10008.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10009.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10010.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10011.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10012.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10013.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10014.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10015.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10016.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10017.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10018.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10019.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10020.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10021.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10022.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10023.jpg" />
                    </div>
                </div>
                <div class="swiper-button-next xs-hide sm-hide"></div>
                <div class="swiper-button-prev xs-hide sm-hide"></div>
            </div>




            <div thumbsSlider="" class="swiper mySwiper2 imgCon_PubSon imgCon_PubMob">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10001.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10002.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10003.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10004.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10005.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10006.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10007.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10008.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10009.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10010.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10011.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10012.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10013.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10014.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10015.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10016.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10017.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10018.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10019.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10020.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10021.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10022.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../Content/images/tonggou/10023.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs2 col-sm2 col-md1 col-lg1">&nbsp;</div>
    </div>

</section>




<script>// section04的双swiper,02是子，03是父

    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        grabCursor: true,
        spaceBetween: 3,
        slidesPerView: 7,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper3 = new Swiper(".mySwiper3", {
        loop: true,
        spaceBetween: 0,
        grabCursor: true,
        // slidesPerView: 0,
        // 启用懒加载
        lazy: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper2,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
    });</script>

<!-- 以下为共享部分 -->





<section id="section08m" class="md-hide lg-hide col-xs20 col-sm20">
    <div class="emailContainerM">
        <div class="emailPosition">

            <h1>深圳市艺术产业新闻邮件</h1>


            <input class="emailM" type="email" placeholder="EMAIL">
            <button type="submit">订&#12288;阅</button>

            <p>
                订阅深圳市艺术产业新闻邮件，即时获取深圳艺术相关展讯以及艺术品背后的故事。
                <br />
                一旦注册深圳市艺术产业促进会新闻邮件，即表示您已充分理解并同意本政策。
            </p>
        </div>
        <div class="logoContainerM">
            <a href="Javascript:;;">
                <img src="../../Content/icon/wechat.svg" class="guanzhu" alt="">
            </a>
            <a href="Javascript:;;">
                <img src="../../Content/icon/douyin.svg" class="guanzhu" alt="">
            </a>
        </div>

    </div>
</section>

