@{
    ViewBag.Title = "展会动态";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<style>
    .chapter {
        /* font-family: 'dinLightI', 'JhengBold';*/
        font-size: var(--title);
        margin-top: var(--chapterTop);
    }

    .entitle {
        font-style: normal;
        /* font-family: 'sansLight';*/
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
        vertical-align: text-top;
        font-size: 1.3rem;
        padding-right: 1em;
        line-height: 1.3em;
    }

    #section01 ul {
        display: flex;
    }

    #section01 li {
        width: 50%;
    }
</style>

<div class="col-xs20 col-sm20 col-md20 col-lg20" style="height: var(--logo1);">&nbsp;</div>
<section class="col-xs20 col-sm20 col-md20 col-lg20" id="section01" style="height: 150vh;">

    <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
    <div class="col-xs16 col-sm16 col-md16 col-lg16">
        <p class="chapter JhengBold">展会动态 &ensp;<i class="entitle">|</i>
            <span style="font-family: 'dinLightI';">EXHIBITION NEWS</span>
        </p>

        <ul>
            <li>1</li>
            <li>2</li>
        </ul>

    </div>
    <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
</section>


<!-- 以下为共享部分 -->


<script>

</script>


<section id="section08m" class="md-hide lg-hide col-xs20 col-sm20">
    <div class="emailContainerM">
        <div class="emailPosition">

            <h1>深圳市艺术产业新闻邮件</h1>


            <input class="emailM" type="email" placeholder="EMAIL">
            <button type="submit">订&#12288;阅</button>

            <p>
                订阅深圳市艺术产业新闻邮件，即时获取深圳艺术相关展讯以及艺术品背后的故事。
                <br />
                一旦注册深圳市艺术产业促进会新闻邮件，即表示您已充分理解并同意本政策。
            </p>
        </div>
        <div class="logoContainerM">
            <a href="Javascript:;;">
                <img src="../../Content/icon/wechat.svg" class="guanzhu" alt="">
            </a>
            <a href="Javascript:;;">
                <img src="../../Content/icon/douyin.svg" class="guanzhu" alt="">
            </a>
        </div>

    </div>
</section>
