@{
    ViewBag.Title = "展会动态";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<style>
    #section01 {
        padding-top: var(--defaultTop);
    }

    .chapter {
        /* font-family: 'dinLightI', 'JhengBold';*/
        font-size: var(--title);
    }

    .entitle {
        font-style: normal;
        /* font-family: 'sansLight';*/
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
        vertical-align: text-top;
        font-size: 1.3rem;
        padding-right: 1em;
        line-height: 1.3em;
    }

    #column div {
        position: relative;
        padding-bottom: 5%;
    }

    #column a {
        display: block;
        text-decoration: none;
    }

    #column img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center center;
        transition: all .2s;
    }

    #column img:hover {
        filter: brightness(.95);
    }

    .info {
        padding-top: 2em;
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
        color: #939393;
    }

    .info span {
        display: block;
        color: black;
        padding-top: .8em;
        padding-bottom: .5em;
        font-size: 1.5rem;
    }

    .end {
        filter: grayscale(1) brightness(.5) !important;
        transition: all .1s;
    }

    .end:hover {
        filter: grayscale(0) brightness(.7) !important;
    }

    .end::after {
        content: '已结束';
        position: absolute;
        top: 14vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-weight: 200;
        font-family: 'Noto Sans SC', sans-serif;
        letter-spacing: .2em;
        color: white;
    }
</style>


<section class="col-xs20 col-sm20 col-md20 col-lg20" id="section01">

    <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
    <div class="col-xs16 col-sm16 col-md16 col-lg16">
        <h1 class="chapter JhengBold">
            展会动态&emsp;<i style="font-style: normal;vertical-align: top;">|</i>&emsp;<span
                style="font-family: 'dinLightI';">NEWS</span>
        </h1>

        <div id="column">
            <div class="col-xs20 col-sm20 col-md9 col-lg9" style="padding-top: 5%;">
                <a href="/Publication/tonggouEurope">
                    <img src="../../Content/images/tonggouEurope/poster.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">《同构——欧洲行》当代艺术展</span>
                        地点：法国/德国/荷兰/比利时<br />
                        时间：2023.10.9 - 10.23
                    </p>
                </a>
            </div>
            <div class="xs-hide sm-hide col-md2 col-lg2">&nbsp;</div>
            <div class="col-xs20 col-sm20 col-md9 col-lg9" style="padding-top: 5%;">
                <a href="/Publication/shuimai">
                    <img src="../../Content/images/shuimaiMain.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">2023龙游水脉艺术节</span>
                        地点：浙江省衢州市龙游县<br />
                        时间：2023.9.26 - 12.26
                    </p>
                </a>
            </div>

            <!-- 结束活动分割线 -->


            <div class="col-xs20 col-sm20 col-md9 col-lg9 end">
                <a href="/Publication/trio">
                    <img src="../../Content/images/TrioMain.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">三人行——鸥洋/雷双/张岚芊艺术展</span>
                        地点：深圳市木星美术馆<br />
                        时间：2023.6.3 - 7.2
                    </p>
                </a>
            </div>
            <div class="xs-hide sm-hide col-md2 col-lg2">&nbsp;</div>
            <div class="col-xs20 col-sm20 col-md9 col-lg9 end">
                <a href="/Publication/chunyu2">
                    <img src="../../Content/images/chunyu2.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">"春语"第二季——国际视觉艺术邀请展</span>
                        地点：南山漫谷 - 同构艺术空间<br />
                        时间：2023.4.24 - 5.28
                    </p>
                </a>
            </div>

            <div class="col-xs20 col-sm20 col-md9 col-lg9 end">
                <a href="/Publication/tonggou2">
                    <img src="../../Content/images/DSC05345-color.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">《同构》第二季·当代艺术展</span>
                        地点：深圳市罗湖美术馆<br />
                        时间：2022.12.29 - 2023.1.28
                    </p>
                </a>
            </div>
            <div class="xs-hide sm-hide col-md2 col-lg2">&nbsp;</div>
            <div class="col-xs20 col-sm20 col-md9 col-lg9 end">
                <a href="/Publication/chunyu">
                    <img src="../../Content/images/chunyu/header.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">“春语”——当代艺术名家邀请展</span>
                        地点：深圳动漫园-盛世艺术空间<br />
                        时间：2022.3.29 - 4.29
                    </p>
                </a>
            </div>

            <!-- 最后一个DIV需要将padding-bottom：5% => 10% -->
            <div class="col-xs20 col-sm20 col-md9 col-lg9 end" style="padding-bottom: 10%;">
                <a href="/Publication/zhongyi">
                    <img src="../../Content/images/zhongyi/10000.jpg" alt="">
                    <p class="info">
                        <span class="JhengBold">中意艺术名画展</span>
                        地点：深圳市龙华大浪时尚小镇 INPARK文化创意园<br />
                        时间：2021.9.24 - 10.24
                    </p>
                </a>
            </div>
            <div class="xs-hide sm-hide col-md2 col-lg2">&nbsp;</div>
            <div class="col-xs20 col-sm20 col-md9 col-lg9">
                <!-- 空 -->
            </div>

        </div>


    </div>
    <div class="xs-hide sm-hide col-md2 col-lg2">&nbsp;</div>
</section>


<!-- 以下为共享部分 -->


<section id="section08m" class="md-hide lg-hide col-xs20 col-sm20">
    <div class="emailContainerM">
        <div class="emailPosition">

            <h1>深圳市艺术产业新闻邮件</h1>


            <input class="emailM" type="email" placeholder="EMAIL">
            <button type="submit">订&#12288;阅</button>

            <p>
                订阅深圳市艺术产业新闻邮件，即时获取深圳艺术相关展讯以及艺术品背后的故事。
                <br />
                一旦注册深圳市艺术产业促进会新闻邮件，即表示您已充分理解并同意本政策。
            </p>
        </div>
        <div class="logoContainerM">
            <a href="Javascript:;;">
                <img src="../../Content/icon/wechat.svg" class="guanzhu" alt="">
            </a>
            <a href="Javascript:;;">
                <img src="../../Content/icon/douyin.svg" class="guanzhu" alt="">
            </a>
        </div>

    </div>
</section>
