@{
    ViewBag.Title = "展会动态";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<style>
    .chapter {
        /* font-family: 'dinLightI', 'JhengBold';*/
        font-size: var(--title);
        margin-top: var(--chapterTop);
    }

    .entitle {
        font-style: normal;
        /* font-family: 'sansLight';*/
        font-weight: 300;
        font-family: 'Noto Sans SC', sans-serif;
        vertical-align: text-top;
        font-size: 1.3rem;
        padding-right: 1em;
        line-height: 1.3em;
    }


    #section01 {
        margin-top: 5vh;
    }

    .swiper {
        width: 100%;
        height: 70vh;
    }

    .swiper-slide {
        width: 100vw;
    }




    .carouselZoom {
        width: 100%;
        height: 70vh;
    }

    .carouselZoom:hover .imgCon {
        @*transform:scale(1.04);*@
    }

    .imgCon {
        width: 100%;
        height: 100%;

        object-fit: contain;
        z-index: -1;
    }
</style>

<section class="col-xs20 col-sm20 col-md20 col-lg20" id="section01" style="height: 150vh;">

    <div class="col-xs20 col-sm20 col-md20 col-lg20">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper relative">
                <div class="swiper-slide">
                    <a href="Javascript:;;" class="carouselZoom">
                        <img src="../../Content/images/poster-shuimai.jpg" class="imgCon" alt="">
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="/Publication/trio" class="carouselZoom">
                        <img src="../../Content/images/poster-trio.jpg" class="imgCon" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/Publication/chunyu2" class="carouselZoom">
                        <img src="../../Content/images/poster-chunyu.jpg" class="imgCon" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/Publication/tonggou2" class="carouselZoom">
                        <img src="../../Content/images/poster-tonggou2.jpg" class="imgCon" alt="">
                    </a>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>







        </div>


        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
        <div class="col-xs16 col-sm16 col-md16 col-lg16">
            <p class="chapter JhengBold">近期展览 &ensp;<i class="entitle">|</i>
                <span style="font-family: 'dinLightI';">RECENT EXHIBITION</span>
            </p>
        </div>
        <div class="col-xs2 col-sm2 col-md2 col-lg2">&nbsp;</div>
</section>


<!-- 以下为共享部分 -->


<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
        },
    });
</script>


<section id="section08m" class="md-hide lg-hide col-xs20 col-sm20">
    <div class="emailContainerM">
        <div class="emailPosition">

            <h1>深圳市艺术产业新闻邮件</h1>


            <input class="emailM" type="email" placeholder="EMAIL">
            <button type="submit">订&#12288;阅</button>

            <p>
                订阅深圳市艺术产业新闻邮件，即时获取深圳艺术相关展讯以及艺术品背后的故事。
                <br />
                一旦注册深圳市艺术产业促进会新闻邮件，即表示您已充分理解并同意本政策。
            </p>
        </div>
        <div class="logoContainerM">
            <a href="Javascript:;;">
                <img src="../../Content/icon/wechat.svg" class="guanzhu" alt="">
            </a>
            <a href="Javascript:;;">
                <img src="../../Content/icon/douyin.svg" class="guanzhu" alt="">
            </a>
        </div>

    </div>
</section>
