


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>作品搜索</title>
    <!--css-->
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/Staff.css" rel="stylesheet" />
    <!--coustom css-->
    <!--default-js-->
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/js/jquery.minicolors.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/echarts.min.js"></script>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
