.re {
    border: 1px solid red;
}

body {
    margin: 0;
}

/* 思源黑字体家族 */

@font-face {
    font-family: "sansExtraLight";
    src: url("/Content/fonts/SourceHanSansCN-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "sansLight";
    src: url("/Content/fonts/SourceHanSansCN-Light.woff") format("woff");
}

@font-face {
    font-family: "sansNormal";
    src: url("/Content/fonts/SourceHanSansCN-Normal.woff") format("woff");
}

@font-face {
    font-family: "sansRegular";
    src: url("/Content/fonts/SourceHanSansCN-Regular.woff") format("woff");
}

@font-face {
    font-family: "sansMedium";
    src: url("/Content/fonts/SourceHanSansCN-Medium.woff") format("woff");
}

@font-face {
    font-family: "sansBold";
    src: url("/Content/fonts/SourceHanSansCN-Bold.woff") format("woff");
}

@font-face {
    font-family: "sansHeavy";
    src: url("/Content/fonts/SourceHanSansCN-Heavy.woff") format("woff")
}