。
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner banner5">
    <div class="container">
        <h2>关于我们</h2>
    </div>
</div>
<!--about-->
<!--start-about-->
<div class="about two">
    <div class="container">
        <div class="about-top">
            <div class="col-md-7 about-top-right">
                <h2>关于深圳市艺术产业促进会</h2>
                <p style="color:#000000">
                    本会以实施深圳市艺术产业创新驱动发展战略，着力构建以艺术为提升产品高度，以企业为主体、市场为导向、
                    艺术以产学研相结合的技术创新体系为目标，努力搭建产学研合作创新平台，引导和支持艺术产品创新要素向产
                    业化集聚，摆脱非产业化作坊手工模式，提高与科技结合创新和协同创新能力，促进艺术与科技成果向现实生产力转化，
                    为企业创新、区域创新、协助低端密集型产业转型服务；联合企业、高等院校和科研院所，建立健全产学研合作创新和共
                    同发展的运行机制……
                </p>
            </div>
            <div class="col-md-5 about-top-left">
                <img src="~/Content/123/2021.5.30f2.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--start-team-->
<div>
    <div class="container">
        <div class="news-text" style="background-color: #958e71;height:50px">
            <h3 style="color:#fff;font-size: 28px;padding: 10px;">我们的团队</h3>
        </div>
        <div class="main"style="margin-top:20px;">

            <div class="col-md-3 view fifth-effect">
                <a href="#" title="Full Image"><img src="~/Content/123/vip-1.jpg" alt="" /></a>
                <div class="mask"></div>
            </div>

            <div class="col-md-3 view fifth-effect">
                <a href="#" title="Full Image"><img src="~/Content/123/vip-2.jpg" alt="" /></a>
                <div class="mask"></div>
            </div>

            <div class="col-md-3  view fifth-effect">
                <a href="#" title="Full Image"><img src="~/Content/123/vip-3.jpg" alt="" /></a>
                <div class="mask"></div>
            </div>

            <div class="col-md-3 view fifth-effect">
                <a href="#" title="Full Image"><img src="~/Content/123/vip-4.jpg" alt="" /></a>
                <div class="mask"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<!--//team-->
<!--start-camps-->
<div class="camps">
    <div class="container">
        <div class="news-text" style="background-color: #958e71;height:50px">
            <h3 style="color:#fff;font-size: 28px;padding: 10px;">合作案例</h3>
        </div>
            <div class="cam-top-top">
                <div class="col-md-7 cam-top">
                    <iframe src="https://www.youtube.com/embed/9l7JqonyoKA" allowfullscreen></iframe>
                </div>
                <div class="col-md-5 cam-top-text">
                    <div class="sub-cam-top">
                        <div class="col-md-4 sub-img">
                            <img src="~/Content/123/F.jpg" alt="img07" />
                        </div>
                        <div class="col-md-8 sub-text">
                            <a href="#">项目一: 同构——当代艺术作品邀请展</a>
                            <p>2021年罗湖美术馆，策展人：姚建伟（会长）</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sub-cam-top">
                        <div class="col-md-4 sub-img">
                            <img src="~/Content/123/F.jpg" alt="img07" />
                        </div>
                        <div class="col-md-8 sub-text">
                            <a href="#">项目二: IBC同构艺术空间——常驻展览空间</a>
                            <p>知名艺术IP打卡地点</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sub-cam-top">
                        <div class="col-md-4 sub-img">
                            <img src="~/Content/123/F.jpg" alt="img07" />
                        </div>
                        <div class="col-md-8 sub-text">
                            <a href="#">项目三 : Sed ut perspiciatis unde omnis.</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi…</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
</div>
<!--/about-->
