
<div class="news">
    <div class="container">
        <div class="news-text" style="background-color: #958e71;height:50px">
            <h3 style="color:#fff;font-size: 28px;padding: 10px;">展会活动</h3>
        </div>
        <div class="news-grids" style="margin-top:2em">
            <div class="col-md-3 news-grid zaipa-md-2">
                <a href="/Publication/chunyu"><h4>展讯｜春雨——当代名艺术家邀请展</h4></a>
                <span>2022年3月29日开展 | 深圳动漫园 盛世艺术馆</span>
                <a href="single.html" class="mask"><img src="~/Content/123/F-img/2022.3.29.jpg" alt="image" class="img-responsive zoom-img"></a>
                <div class="news-info">
                    <p>同构作为全球语境下构筑人类命运共同体的重要命题，也是当前共同抗击疫情，创造美好未来的愿景。是当下的共情，更是对未来的思考。</p>
                </div>
            </div>
            <div class="col-md-3 news-grid zaipa-md-2">
                <a href="single.html"><h4>展讯｜同构——当代艺术作品邀请展</h4></a>
                <span>1月26日-2月26日 | 深圳罗湖美术馆</span>
                <a href="single.html" class="mask"><img src="~/Content/123/F-img/2021.1.26news (1).jpg" alt="image" class="img-responsive zoom-img"></a>
                <div class="news-info">
                    <p>同构作为全球语境下构筑人类命运共同体的重要命题，也是当前共同抗击疫情，创造美好未来的愿景。是当下的共情，更是对未来的思考。</p>
                </div>
            </div>
           
            <div class="clearfix"> </div>
        </div>
    </div>
</div>