
<div class="news">
    <div class="container">
        <div class="news-text" style="background-color: #958e71;height:50px">
            <h3 style="color:#fff;font-size: 28px;padding: 10px;">展会活动</h3>
        </div>
        <div class="news-grids" style="margin-top:2em">

            <div class="col-md-3 news-grid zaipa-md-2">
                <a href="/Publication/tonggou2"><h4>展讯｜同构 第二季——当代名艺术作品邀请展</h4></a>
                <span>2022年12月29日开展 | 深圳罗湖美术馆</span>
                <a href="/Publication/tonggou2" class="mask"><img src=../../Content/images/DSC05345-color.jpg alt="image" class="img-responsive zoom-img"></a>
                <div class="news-info">
                    <p>本次展览延续上届首展特色，以当代艺术原创作品为主体，意在表达艺术家对当下的独立思考，引发观众无限的想象，走进艺术家的个体世界，并与作品参与互动，丰富对美学与哲理的认知。</p>
                </div>
            </div>


            <div class="col-md-3 news-grid zaipa-md-2">
                <a href="/Publication/chunyu"><h4>展讯｜春雨——当代名艺术家邀请展</h4></a>
                <span>2022年3月29日开展 | 深圳动漫园 盛世艺术馆</span>
                <a href="/Publication/chunyu" class="mask"><img src="~/Content/123/F-img/2022.3.29.jpg" alt="image" class="img-responsive zoom-img"></a>
                <div class="news-info">
                    <p>艺术化作滴滴春雨，滋润鹏城，一起感受“春语”的温情魅力。</p>
                </div>
            </div>

            <div class="col-md-3 news-grid zaipa-md-2">
                <a href="/Publication/zhongyi"><h4>展讯｜中意艺术名画展</h4></a>
                <span>2021年9月24日开展 | 深圳市龙华区大浪时尚小镇 INPARK文化创意园二期</span>
                <a href="/Publication/zhongyi" class="mask"><img src="../../Content/images/zhongyi/10000.jpg" alt="image" class="img-responsive zoom-img"></a>
                <div class="news-info">
                    <p>中国与意大利自古就是引领人类文明的两个伟大的国家，从大唐长安到帝国罗马，在历朝变迁到东西方文化各自发展的今天，积极影响着全球现代艺术思潮和美学观点。</p>
                </div>
            </div>


            <div class="col-md-3 news-grid zaipa-md-2">
                <a href="/Publication/tonggou"><h4>展讯｜同构——当代艺术作品邀请展</h4></a>
                <span>1月26日-2月26日 | 深圳罗湖美术馆</span>
                <a href="/Publication/tonggou" class="mask"><img src="~/Content/123/F-img/2021.1.26news (1).jpg" alt="image" class="img-responsive zoom-img"></a>
                <div class="news-info">
                    <p>同构作为全球语境下构筑人类命运共同体的重要命题，也是当前共同抗击疫情，创造美好未来的愿景。是当下的共情，更是对未来的思考。</p>
                </div>
            </div>
           
            <div class="clearfix"> </div>
        </div>
    </div>
</div>