
@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner banner5">
    <div class="container">
        <h2>联系我们</h2>
    </div>
</div>
<!--contact-->
<div class="mail">
    <div class="container">
        <div class="map footer-middle">
            <iframe src="https://surl.amap.com/5sNm6F9g1h" allowfullscreen=""> </iframe>

        </div>
        <div class="mail-grids">
            <div class="col-md-6 mail-grid-left">
                <h3>联系我们</h3>
                <h5>Cras porttitor imperdiet volutpat nulla malesuada lectus eros <span>ut convallis felis consectetur ut </span></h5>
                <h4>办公地点</h4>
                <p>
                    深圳市 福田区 
                    <span>金田路3038号</span>
                    现代商务大厦, 2606D
                </p>
                <h4>联系方式</h4>
                <p>
                    电话:      +1 234 567 9871
                    <span>传真: +1 234 567 9871</span>
                    E-mail: <a href="mailto:industry@szaipa.com">industry@szaipa.com</a>
                </p>
            </div>
            <div class="col-md-6 contact-form">
                <form>
                    <input type="text" placeholder="称呼" required="">
                    <input type="text" placeholder="Email" required="">
                    <input type="text" placeholder="地址" required="">
                    <textarea placeholder="对我们想说的！" required=""></textarea>
                    <input type="submit" value="SEND">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--/contact-->
