
@{
    ViewBag.Title = "德比水贝-副会长单位";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner banner5">
    <div class="container">
        <h2>副会长单位</h2>
    </div>
</div>

<div class="about two">
    <div class="container">
        <div class="about-top">
            <div class="col-md-7 about-top-right">
                <h2>关于德必水贝 WE</h2>
                <p style="color:#000000">
                    德必水贝WE，由<a href="https://www.dobechina.com/">德必集团（股票代码：300947）</a>投资运营。<br /><br />
                    德必水贝WE秉持着德必集团“助力中国创意”的精神内涵，
                    落子深圳罗湖水贝，打造“深圳国际时尚教育中心”，汇聚国际艺术教育、
                    文化时尚和文创设计行业的企业和人才，构筑艺术文创新高地、赋能当地产业升级。<br /><br />
                    罗湖积极构建战略性新兴产业和未来产业、优势产业、时尚创意产业为代表的一河六圈一带全域消费体系，
                    为国际消费中心核心区建设打下坚实基础，其中水贝——布心商圈就是六圈中的重要一环。作为黄金珠宝产业高度聚集的水贝，站在罗湖这个巨人的肩膀上，散发着自身独有的价值魅力，德必水贝WE依托德必集团丰富资源，赋能于水贝的珠宝产业，打造项目独有的“泛珠宝生态圈”，为珠宝企业量身定制可持续成长的品牌孵化基地。并有效融入德必品牌的“轻公司生态圈”理念，与数千企业产生连接，通过资源整合与创意融合，促进企业的高纬度腾飞。

                    此外，德必水贝WE正致力将全球知名艺术设计院校资源引入深圳，落地罗湖，创办艺术设计培训学院。同时通过搭建城市艺术会客厅、设计师联盟、大师工作室、设计师沙龙、艺术展厅等平台，旨在助力水贝产业结构、人才结构的持续优化、发展动力加快转换，形成以高质量、韧性强、活力足为突出特征的产业发展新模式。
                </p>
                <br /><br /><br />
                <h2>关于德必集团</h2>
                <p style="color:#000000">
                    德必集团，专业致力于成为中国领先的文科创产业全价值链服务商。经过多年发展，德必集团目前已在北京、上海、杭州、南京、苏州、成都、长沙、西安、合肥、深圳、武汉以及美国硅谷、意大利佛罗伦萨等十余个城市成功签约数十个文化创意产业园区，成功吸纳了一批批优秀的文科创企业入驻，实现了产业集聚和生态闭环。2021年2月10日，上海德必文化创意产业发展(集团)股份有限公司正式在深圳证券交易所挂牌上市，成为国内首家创业板上市产业园区运营服务商，股票代码：300947。  
                    <br /><br />
                    2006年以来，德必先后荣获“龙腾奖——中国创意产业年度大奖”最佳园区奖、中国城市更新论坛十大城市更新建筑重生案例、中国文化创意产业十大领军园区等行业奖项，并被授予了上海首批文化创意产业示范园区、北京市首批文化创意产业园区、意中商会最佳投资机构等荣誉。
                    <br /><br />
                    美团点评、依图科技、风神集团、乐居控股、虎扑、阳光传媒、长芯光电、紫龙游戏、拉面说、翼方健数、埃摩森猎头、樊登读书会、震坤行、安克创新、华大智造、阳光海天……过去的十几年里，数以千计的文科创企业在德必园区携手成长，一步步迈向成熟与壮大，共同为中国创意经济的发展贡献着力量。
                    <br /><br />
                    2016年，德必集团率先推出了“轻公司生态圈”发展战略，CEO俱乐部、市场人社群等多元化的活动形式，有效贯通和串联园区内外企业资源，为园区企业打造出一个共享、共建、共创的优质发展平台。与此同时，德必还为入驻企业提供创业服务、品牌推广、工商注册、资本对接、wehome智慧管理平台等“十大增值服务”，并自2021年起每年举办服务全球创业者的外滩创客大会，旨在为全球文科创领域创业者提供良好的互相交流与资本对接机会，为企业提供系统优质的微生态创业环境，助力文科创企业的持续发展。
                    <br /><br />
                    近年来，德必努力通过自主创新，从提升文创园区综合服务功能与文化内涵出发，全面推进对全方位助力城市更新以及地域文化产业发展的探索。在南京，德必充分发挥园区历史文化资源，在民国时期国民政府“公余联欢社”俱乐部的空间基础上，全新打造出以原创小剧场话剧为特色的“国民小剧场”线下场景以及运营模式，自2019年至今连续两年举办“长江路小剧场话剧节”，为凝聚城市记忆、塑造城市文脉、打造文化自信，探索出了一条全新的道路，未来将随着德必园区的拓展，与国内更多城市共享。
                    <br /><br />
                    助力国内文科创产业可持续发展，是德必另一项重要的企业使命。2019年开始，德必集团投入近百万元，与上海交大文创学院（ICCI）联合打造了针对在校硕士生的“创基金”项目，结合国内文创产业发展、文科创园区运营与管理、前沿科技创新等主题，每年定向帮助近百名在校学子完成专题项目研发，迄今为止已孵化了近50个专题研究成果，并整合各种资源积极拓展推进项目的后续产学研一体化，迄今为止，在文（科）创产业人才、项目和园区运营管理探索方面取得了良好的学术效益与社会效益。
                    <br /><br />
                    中共十九届中央政治局常委、国务院副总理、党组副书记韩正，中央政治局委员、北京市委书记蔡奇，中央政治局委员、上海市委书记李强，国务委员兼外交部长王毅，原上海市委副书记、市长应勇，全国政协常委、中共中央宣传部副部长孙志军，原上海市委常委、宣传部长周慧琳，全国政协常委、上海市政协副主席、民建中央副主席周汉民，联合国教科文组织副总干事格塔卓恩吉达先生等领导都曾经莅临德必访问、视察，并对德必开创和践行的文创园区运营模式给予了高度认可。

                 </p>
            </div>
            <div class="col-md-5 about-top-left">
                <img src="~/Content/123/F-img/德比logo.png" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>