@{
    ViewBag.Title = ViewBag.Art+"的作品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tagimgbox">
    <div class="infbox">
        <p> @ViewBag.Art 共有@ViewBag.count 作品：</p>
      
    </div>
    <div class="allworksbox">
        <ul>
            @foreach (var w in ViewBag.works)
            {
                <li>
                    <a href="~/Home/works/@w.Id">
                        <div class="imgboxs">
                            <img src="~/Content/ArtImg/Artist/works-narrow/@w.Path" alt="@w.Title" />
                        </div>
                    </a>
                    <div class="imginf">
                        <h5>
                            <a href="~/Home/works/@w.Id"> @w.Title <br />

                            <small>上传日期： @w.date</small></a>
                        </h5>


                    </div>

                </li>
            }

        </ul>
        <div class="clearfix"></div>
        <script>
            $(window).load(function () {
                $(".imgboxs img").each(function () {
                    var image = $(this);
                    if (image.width() > image.height()) {
                        var height = (200 * image.height()) / image.width();
                        var h = (200 - height) / 2;
                        image.css({ "margin-top": h, "width": 200, "height": height })
                    } else {
                        var width = (200 * image.width()) / image.height();
                        var w = (200 - width) / 2;
                        image.css({ "margin-left": w, "margin-top": 0, "height": 200, "width": width })
                    }
                });
            });
        </script>
    </div>
</div>