.chapter {
        font-size: var(--title);
        margin-bottom: 1em;
    }

    /* 后续修补 */
    .entitle {
        font-style: normal;
        font-weight: 300;
        font-family: 'Szaipa Noto Sans SC', 'Szaipa Noto Sans SC GB', sans-serif;
        vertical-align: text-top;
        font-size: 1.3rem;
    }

    .chapterTXT {
        position: relative;
        margin-bottom: var(--chapterBottom);
        margin-top: 0 !important;
        text-align: justify;
        font-weight: 300;
        font-family: 'Szaipa Noto Sans SC', 'Szaipa Noto Sans SC GB', sans-serif;
        font-size: 1rem;
        line-height: 2.4em;
    }

    .chapterTXT span {
        font-family: 'Szaipa Noto Sans SC', 'Szaipa Noto Sans SC GB', sans-serif;
        font-weight: 500;
    }

    .zhangcheng {
        display: block;
        background-color: black;
        height: 18rem;

        background-image: url('/Content/images/2021.5.30f2-2.jpg');
        background-size: 100% 85%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* embed {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        outline: none;
        border: none;
    } */

    #section01 button {
        outline: none;
        border: 1px solid #bf272d;
        border-radius: 10px;
        background-color: transparent;
        color: #bf272d;
        font-size: .9rem;
        padding: .5em 2em;
        margin-top: 3%;

        font-family: 'Szaipa Noto Sans SC', 'Szaipa Noto Sans SC GB', sans-serif;
        font-weight: 300;
    }

    .partner {
        text-align: center;
        padding-top: 1%;
    }

    #section02 .partner h1 {
        font-size: 1.2rem;
        font-family: 'Szaipa Noto Sans SC', 'Szaipa Noto Sans SC GB', sans-serif;
        font-weight: 400;
        padding: 1em;
    }

    #section02 .partner div {
        margin-bottom: 5%;
    }

    .partner p {
        padding: 0 2em;
        text-align: justify;
        font-family: 'Szaipa Noto Sans SC', 'Szaipa Noto Sans SC GB', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        white-space: pre-line;
    }

    .partner img {
        height: auto;
        max-height: 20vh;
        max-width: min(30vw, 100%);
    }

    #section03 {
        height: 80vh;
    }
