@model _2022szaipa.Models.TongouAtrist
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>艺术家介绍 - 贝尼团队</title>
    <script src="Model/jquery-3.6.1.min.js"></script>
</head>
<body>
    <div class="die">
        <div class="imgCon"
             style="background-image: url('https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E8%89%BA%E6%9C%AF%E5%AE%B6%E4%BD%9C%E5%93%81%E4%BB%A5%E5%8F%8A%E4%BB%8B%E7%BB%8D/%E8%B4%9D%E5%B0%BC%E5%9B%A2%E9%98%9F/%E8%B4%9D%E5%B0%BC.png') ;">
            <a href="/Project_Tongou/WorkList/@Model.id">
                <div class="btn">参展作品</div>
            </a>
        </div>
    </div>
    <div class="text">
        <!-- &#12288; 1em占位符，&#8194; 0.5em占位符 -->
        <h1>贝尼</h1>
        <p>
            伞宇宙数字艺术交易平台合伙人及艺术总监
            香港 Moonlab NFT数字艺术平台大陆合伙人及负责人
            上海影鲲文化发展有限公司创始人
            上海第二届复兴爵士音乐节艺术总监
            “+ME”艺术节创办人
            疯剧社，疯乐队创办人
            资深媒体人，独立策展人，职业艺术家
        </p>
    </div>
    <div class="hr"></div>
    <div class="die">
        <div class="imgCon"
             style="background-image: url('https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E8%89%BA%E6%9C%AF%E5%AE%B6%E4%BD%9C%E5%93%81%E4%BB%A5%E5%8F%8A%E4%BB%8B%E7%BB%8D/%E8%B4%9D%E5%B0%BC%E5%9B%A2%E9%98%9F/%E8%B5%B5%E5%8F%AF.png') ;">
        </div>
    </div>
    <div class="text">
        <!-- &#12288; 1em占位符，&#8194; 0.5em占位符 -->
        <h1>赵可</h1>
        <p>
            于中国传统音乐、中国传统文化、西方现代音乐、西方现代文化以及爵士乐中探索各种可能。
            2010年成为亚洲文化艺术协会洛克菲勒基金会受益人，赴美进行音乐文化交流;此前荣获此荣誉的名仕有陈凯歌、蔡国强。
            19岁就与已故爵士名伶Betty Carter同台演出。
            1998年，20岁的赵可作为美国前总统克林顿家庭访华演出的一员，精彩表演开启了他 寻找中西爵士音乐魅力的篇章。
            2014年浓情静安•爵士上海“春之季”公益音乐会上，赵可与优秀的德国小号大师Till Brunner、美国爵士贝司大师Eddie Gomez共同登上大师殿堂的舞台，并与JZ Big Band以及众多好友同台献艺。
            同年10月，在JZ Festival十周年与丹麦顶级爵士女伶Sinne Eeg在大师殿堂舞台合作，赵可并在蓝草舞台上率领他的“赵可·能性”乐队绽放光彩。
            同年11月美国著名天籁爵士女声Stacey Kent在上海音乐厅的音乐会也邀请赵可作为音乐会嘉宾同台献唱。
            2015年10月，赵可在第十一届爵士上海音乐节开幕式与格莱美得主-贝司大师Victor Wooten, 以及Dee Dee Bridgewater和爱沙尼亚大乐队同台献艺。
            2016年，赵可受瑞士文化艺术基金会Pro Helvetia之邀, 到瑞士进行为期三个月的艺术音乐交流之旅, 并在同年探访南美洲知名音乐人IvanLins共同合作。
            此外赵可还受邀参与荷兰著名歌手Monique Klemann新专辑《Coool》录制，并操刀担任同名主打歌中文版演唱。
            2006年赵可发行的第二张个人专辑《梦境》让他在同年成为第一位被邀请去蒙特利尔国际爵士节表演的中国音乐人。
            2012年赵可应邀作为第一届中国好声音的选手，让广大观众领略到爵士乐的无限风采，掀起了中国爵士乐复兴新浪潮。
            2015年夏天, 赵可代表JZ Music签约艺人, 作为第一位受邀的中国爵士音乐家, 率领他所主领的<赵可.能性>
                乐队参加法国昂蒂布Jazz a Juan国际爵士节,受到当地各界媒体的高度关注和赞誉。
                同年，赵可受邀参加《中国好歌曲》，其原创作品《井水花》被刘欢导师选中并演唱。
                2017年七月盛夏，赵可作为JZ All Stars成员参加了意大利翁布里亚爵士音乐节的演出。
                4月28日，赵可受邀参加了新加坡华乐团音乐厅的“The Bund Swing To Jazz爵士音乐会”；6月底，哥本哈根爵士音乐节巡演；
                9月，爵士上海音乐节“中国爵士力量舞台”与The soundbase的合作让人耳目一新；当月，赵可还被邀请前往以色列雅法国际爵士节Israel Jaffa International Jazz
                Festival演出。
                随后的10月，赵可在上海国际乐器展上担任“爵士高手·乐坛争霸”比赛中担任评委；并飞往南非开普敦国际电影节开幕式表演嘉宾。
                2018年同月的“台中爵士音乐节”上，为各位喜爱音乐的伙伴献上美妙的老上海爵士曲目。
                2019年3月，赵可在南非开普敦爵士音乐节进行自己的首次演出；
                9月，在爵士上海音乐节15周年庆典上与荷兰皇家大乐队合力演出自己的新专辑；
        </p>
    </div>
    <div class="hr"></div>
    <div class="die">
        <div class="imgCon"
             style="background-image: url('https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E8%89%BA%E6%9C%AF%E5%AE%B6%E4%BD%9C%E5%93%81%E4%BB%A5%E5%8F%8A%E4%BB%8B%E7%BB%8D/%E8%B4%9D%E5%B0%BC%E5%9B%A2%E9%98%9F/%E4%BB%BB%E7%8F%8F.png') ;">
        </div>
    </div>
    <div class="text">
        <!-- &#12288; 1em占位符，&#8194; 0.5em占位符 -->
        <h1>任珏</h1>
        <p>
            博士：2007.10—2014.2，香港中文大学（城市人类学/数字人类学方向） 哲学硕士：2005.8—2007.9， 香港中文大学（互联网/数字人类学方向）
            古代文学硕士：2001.09—2004.07，华中科技大学中国语言文学。 文学学士：1997.09—2001.06，华中科技大学中国语言文学
        </p>
    </div>
    <div class="hr"></div>
    <div class="die">
        <div class="imgCon"
             style="background-image: url('https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E8%89%BA%E6%9C%AF%E5%AE%B6%E4%BD%9C%E5%93%81%E4%BB%A5%E5%8F%8A%E4%BB%8B%E7%BB%8D/%E8%B4%9D%E5%B0%BC%E5%9B%A2%E9%98%9F/A-9001.png') ;">
        </div>
    </div>
    <div class="text">
        <!-- &#12288; 1em占位符，&#8194; 0.5em占位符 -->
        <h1>A-9001</h1>
        <p>
            数字媒体艺术家
            A-9001是一位特别普通的14岁男孩儿，像所有在中国正在接受义务教育的学生一样，有做不完的作业，刷不完的题。他喜欢网游，却时常感到孤独。如此普通就和他签名里影射的意义一样调侃“A-Fool”。但不可否认，他就是中国最年轻上架NFT的数字媒体艺术家。
        </p>
    </div>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .re {
            border: 1px solid red;
        }

        .die {
            margin-top: 20px;
            margin-bottom: 30px;
            overflow: hidden;
            width: 100%;
        }

        .imgCon {
            width: 96%;
            margin-left: 2%;
            margin-right: 2%;
            border-radius: 35px;
            height: 550px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom bottom;
            position: relative;
        }

        .btn {
            height: 30px;
            width: 100px;
            position: absolute;
            bottom: 40px;
            right: 20px;
            box-shadow: 3px 3px 10px #00000010;
            cursor: pointer;
            line-height: 22pt;
            font-size: 11pt;
            font-family: 'sansLight';
            text-align: center;
            background-color: white;
            border-radius: 20px;
        }

        .text {
            width: 85%;
            margin: 0 auto;
            font-size: 11pt;
            font-family: 'sansLight';
            text-align: justify;
            overflow: hidden;
            margin-bottom: 50px;
        }

        .text h1 {
            font-size: 16pt;
            font-family: 'sansBold';
            color: #1a4eb5;
            margin-bottom: 30px;
        }

        .text p {
            white-space: pre-line;
            font-family: 'sansRegular';
            font-size: 13pt;
            line-height: 2.1em;
        }

        .hr {
            height: 2px;
            width: 100%;
            background-color: #ecedea;
            float: left;
            margin-bottom: 50px;
        }

        /* 思源黑字体家族 */

      
    </style>
</body>
</html>