@model szaipa2022.Models.TongouWorks
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>贝尼作品 - 共振的意识</title>
    <script src="/Content/js/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="/Content/site.css">
</head>

<body>
    <div class="imgCon">
        <video class="zhanshi0" style="padding-top: 0;"
               poster="https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E5%90%8C%E6%9E%84%20%E5%BD%B1%E5%83%8F%E4%BD%9C%E5%93%81/2.jpg"
               controls>
            <source src="https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E5%90%8C%E6%9E%84%20%E5%BD%B1%E5%83%8F%E4%BD%9C%E5%93%81/%E5%85%B1%E6%8C%AF%E7%9A%84%E6%84%8F%E8%AF%86%20%E5%B1%8F%E5%B9%951.mp4"
                    type="video/mp4">
        </video>
    </div>
    <div class="text">
        <h1>
            贝尼作品<br />
            共振的意识
        </h1>
        <h4>
            <!-- P标签内容不变，冒号以后的需要相对应数据 -->
            <p>创作年份：</p>2022年<br />
            <p>类&#12288;&#12288;型：</p>动画<br />
            <p>尺&#12288;&#12288;寸：</p><span style="letter-spacing: 0.05em;">2个16:9屏幕</span><br />
        </h4>
    </div>
    <!-- 简介以及入群方式 -->
    <div class="newpage">
        <a href="/Project_Tongou/Atrist/@Model.Atristid">
            <p class="block">艺术家简介</p>
            <p class="tubiao"> ></p>
        </a>
        <div class="hr"></div>
        <a href="/Project_Tongou/QRcode">
            <p class="block">加入群聊</p>
            <p class="tubiao"> ></p>
        </a>
    </div>

    <script>
        $(function () {
            var zhanshi = $(".zhanshi");
            var datu = $(".datu");
            zhanshi.click(function () { //全屏图片功能
                datu.css("display", "block");
            });

            datu.click(function () {
                datu.css("display", "none")
            })
        });

        function None() {
            pushHistory();
            window.addEventListener("popstate", function (e) {
                WeixinJSBridge.invoke('closeWindow', {}, function (res) { });
            }, false);

            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#"
                };
                window.history.pushState(state, "title", "#");
            }
        };
    </script>

    <style>
        /* 小图展示区 */

        .imgCon {
            width: 100%;
            position: relative;
        }

            .imgCon img {
                height: 100%;
                width: inherit;
                object-fit: cover;
                align-content: center;
                object-position: center;
            }

        /* 放大功能提示 */
        .remind {
            font-family: 'sansLight';
            text-align: center;
            line-height: 30px;
            position: absolute;
            bottom: 5%;
            right: 3%;
            width: 150px;
            height: 30px;
            color: white;
            background-color: #00000061;
            border-radius: 10px;
        }

        /* 大图展示区 */
        .datu {
            width: 100%;
            height: 100%;
            background-color: #000000db;
            z-index: 3;
            position: fixed;
            overflow: auto;
            display: none;
            cursor: pointer;
        }

        .zhanshi0 {
            height: 500px;
            width: 100%;
            padding-top: 30%;
            object-fit: cover;
            align-content: center;
            object-position: center;
        }

        /* h1为作品作者名称 */
        .text h1 {
            font-family: 'sansBold';
            font-size: 24pt;
            color: #1a4eb5;
            margin-top: 30px;
        }

        /* text为详细介绍 */
        .text {
            padding: 0 5% 0 5%;
            height: auto;
            font-size: 16pt;
            display: block;
        }

            .text p {
                font-family: 'sansRegular';
                display: inline;
            }

            .text h4 {
                font-family: 'sansExtraLight';
                font-weight: unset;
                line-height: 32pt;
            }

        /* 简介以及入群方式 */

        .newpage {
            width: 100%;
            height: 203px;
            background-color: #f5f5f3;
            cursor: pointer;
            margin: 80px 0 0 0;
        }

            .newpage a {
                color: black;
            }

            .newpage p {
                margin: 0;
            }

        .block {
            font-family: 'sansRegular';
            font-size: 14pt;
            text-indent: 2em;
            line-height: 100px;
            height: 100px;
            width: 80%;
            float: left;
            background-color: #f5f5f3;
        }

        .tubiao {
            height: 100px;
            width: 19%;
            line-height: 100px;
            font-family: 'sansRegular';
            font-size: 14pt;
            text-indent: 2em;
            float: right;
            background-color: #f5f5f3;
        }

        .hr {
            height: 3px;
            width: 100%;
            background-color: #ecedea;
            float: left;
        }
    </style>
</body>
</html>