@model _2022szaipa.Models.TongouWorks
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>高大庆 钱小杰作品 - 阅尽人间春色</title>
    <script src="Model/jquery-3.6.1.min.js"></script>
</head>
<body>
    <!-- 扫码的作品展示 -->
    <div class="datu">
        <img src="https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E8%A1%A5%E5%85%85%E8%A1%A5%E5%85%85/%E9%AB%98%E5%A4%A7%E5%BA%86-%E9%92%B1%E5%B0%8F%E6%9D%B0%E3%80%8A%E9%98%85%E5%B0%BD%E4%BA%BA%E9%97%B4%E6%98%A5%E8%89%B2%E3%80%8B%E6%8C%82%E6%AF%AF-%E7%9B%B4%E5%BE%84180%E5%8E%98%E7%B1%B3.jpg"
             class="zhanshi0">
    </div>
    <div class="imgCon">
        <img class="zhanshi"
             src="https://tonggou-1257304508.cos.ap-guangzhou.myqcloud.com/%E8%A1%A5%E5%85%85%E8%A1%A5%E5%85%85/%E9%AB%98%E5%A4%A7%E5%BA%86-%E9%92%B1%E5%B0%8F%E6%9D%B0%E3%80%8A%E9%98%85%E5%B0%BD%E4%BA%BA%E9%97%B4%E6%98%A5%E8%89%B2%E3%80%8B%E6%8C%82%E6%AF%AF-%E7%9B%B4%E5%BE%84180%E5%8E%98%E7%B1%B3.jpg" />
        <div class="remind">查看细节</div>
    </div>
    <div class="text">
        <h1>
            高大庆 钱小杰作品<br />
            阅尽人间春色
        </h1>
        <h4>
            <!-- P标签内容不变，冒号以后的需要相对应数据 -->
            <p>尺&#12288;&#12288;寸：</p>180cm<br />
            <p>类&#12288;&#12288;型：</p>挂毯
        </h4>
    </div>
    <!-- 简介以及入群方式 -->
    <div class="newpage">
        <a href="href="/Project_Tongou/Atrist/56">
            <p class="block">艺术家简介</p>
            <p class="tubiao"> ></p>
        </a>
        <div class="hr"></div>
        <a href="/Project_Tongou/QRcode">
            <p class="block">加入群聊</p>
            <p class="tubiao"> ></p>
        </a>
    </div>
    <script>
        $(function () {
            var zhanshi = $(".zhanshi");
            var datu = $(".datu");
            var remind = $(".remind");
            zhanshi.click(function () { //全屏图片功能
                datu.css("display", "block");
            });
            remind.click(function () { //全屏图片功能
                datu.css("display", "block");
            });

            datu.click(function () {
                datu.css("display", "none")
            })
        });

        function None() {
            pushHistory();
            window.addEventListener("popstate", function (e) {
                WeixinJSBridge.invoke('closeWindow', {}, function (res) { });
            }, false);

            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#"
                };
                window.history.pushState(state, "title", "#");
            }
        };
    </script>

    <style>
        /* 小图展示区 */

        .imgCon {
            width: 100%;
            position: relative;
        }

            .imgCon img {
                height: 100%;
                width: inherit;
                object-fit: cover;
                align-content: center;
                object-position: center;
            }

            .imgCon:hover {
                cursor: pointer;
            }

        /* 放大功能提示 */
        .remind {
            font-family: 'sansLight';
            text-align: center;
            line-height: 30px;
            position: absolute;
            bottom: 5%;
            right: 3%;
            width: 150px;
            height: 30px;
            color: white;
            background-color: #00000061;
            border-radius: 10px;
        }

        /* 大图展示区 */
        .datu {
            width: 100%;
            height: 100%;
            background-color: #000000db;
            z-index: 3;
            position: fixed;
            overflow: scroll;
            display: none;
            cursor: pointer;
        }

        .zhanshi0 {
            height: 250px;
            width: 100%;
            padding-top: 20%;
            object-fit: cover;
            align-content: center;
            object-position: center;
        }

        /* h1为作品作者名称 */
        .text h1 {
            font-family: 'sansBold';
            font-size: 24pt;
            color: #1a4eb5;
            margin-top: 30px;
        }

        /* text为详细介绍 */
        .text {
            padding: 0 5% 0 5%;
            height: auto;
            font-size: 16pt;
            display: block;
        }

            .text p {
                font-family: 'sansRegular';
                display: inline;
            }

            .text h4 {
                font-family: 'sansExtraLight';
                font-weight: unset;
                line-height: 32pt;
            }

        /* 简介以及入群方式 */

        .newpage {
            width: 100%;
            height: 203px;
            background-color: #f5f5f3;
            cursor: pointer;
            margin: 80px 0 0 0;
        }

            .newpage p {
                margin: 0;
            }

            .newpage a {
                color: black;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
            }

        .block {
            font-family: 'sansRegular';
            font-size: 14pt;
            text-indent: 2em;
            line-height: 100px;
            height: 100px;
            width: 80%;
            float: left;
            background-color: #f5f5f3;
        }

        .tubiao {
            height: 100px;
            width: 19%;
            line-height: 100px;
            font-family: 'sansRegular';
            font-size: 14pt;
            text-indent: 2em;
            float: right;
            background-color: #f5f5f3;
        }

        .hr {
            height: 3px;
            width: 100%;
            background-color: #ecedea;
            float: left;
        }
    </style>
</body>
</html>