
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>加入群聊</title>
    <link href="~/Content/CSS/weicss.css" rel="stylesheet" />
</head>
<body>
    <div class="imgCon">
        <img style="width: 200px;height:200px;" src="https://pic.imgdb.cn/item/63904a4db1fccdcd361a6d0d.jpg" alt="">
        <br />
        <div>
            扫描二维码
            <br />
            加入群聊
        </div>
    </div>
   
</body>
</html>