
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <title>加入群聊</title>
    <link href="~/Content/CSS/weicss.css" rel="stylesheet" />
</head>
<body>
    <div class="imgCon">
        <img style="width: 200px;height:200px;" src="~/Content/TempFile/QRcode/1.10exp.jpg" alt="">
        <br />
        <div class="text">
            扫描二维码
            <br />
            加入群聊
        </div>
    </div>
   
<style>
        .imgCon {
            height: 300px;
            width: 300px;
            margin: 20% auto;
        }

        body {
            text-align: center;
            font-family: 'sansLight';
        }

        .text {
	padding-top:25px;
            font-size: 14pt;
        }

</style>
</body>
</html>